.group-child457 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-gainsboro);
  width: 1179px;
  height: 413px;
}
.cng-ty-tnhh18 {
  position: absolute;
  top: 71.5px;
  left: 638.3px;
  display: inline-block;
  width: 202.9px;
  height: 19.4px;
}
.div300,
.m-nhp-hng11,
.nh-cung-cp22,
.thi-gian4,
.trng-thi16 {
  position: absolute;
  top: 72.5px;
  left: 364.8px;
  display: inline-block;
  width: 143.5px;
  height: 19.4px;
}
.m-nhp-hng11,
.nh-cung-cp22,
.thi-gian4,
.trng-thi16 {
  top: 14.2px;
  left: 126px;
  width: 136.1px;
}
.nh-cung-cp22,
.thi-gian4,
.trng-thi16 {
  left: 364.8px;
  width: 87.9px;
}
.nh-cung-cp22,
.trng-thi16 {
  top: 18.3px;
  left: 638.3px;
  width: 132.4px;
}
.trng-thi16 {
  left: 966.2px;
  width: 96.5px;
}
.group-child458,
.group-child459 {
  position: absolute;
  top: 109.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1179px;
  height: 1px;
}
.group-child459 {
  top: 51.5px;
}
.check-child92 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.check95 {
  position: absolute;
  top: 70px;
  left: 44px;
  width: 23.5px;
  height: 18.4px;
}
.nh00012,
.nhp-hng46 {
  position: absolute;
  top: 72.5px;
  left: 126px;
  display: inline-block;
  width: 70.5px;
  height: 19.4px;
}
.nhp-hng46 {
  top: 76.6px;
  left: 966.2px;
  width: 133.6px;
}
.check96 {
  position: absolute;
  top: 128.7px;
  left: 44.3px;
  width: 23.5px;
  height: 18.4px;
}
.cng-ty-tnhh19,
.div301,
.nh00022,
.nhp-hng47 {
  position: absolute;
  top: 125.7px;
  left: 638.3px;
  display: inline-block;
  width: 186.8px;
  height: 19.4px;
}
.div301,
.nh00022,
.nhp-hng47 {
  left: 364.8px;
  width: 143.5px;
}
.nh00022,
.nhp-hng47 {
  top: 127.7px;
  left: 126px;
  width: 74.2px;
}
.nhp-hng47 {
  top: 125.7px;
  left: 966.2px;
  width: 133.6px;
}
.group-child460 {
  position: absolute;
  top: 195px;
  left: 365px;
  background-color: var(--color-gainsboro);
  width: 109px;
  height: 12px;
}
.rectangle-parent109 {
  position: absolute;
  top: 285px;
  right: 42px;
  width: 1179px;
  height: 413px;
}
.click-hin-in4-nhp-child,
.click-hin-in4-nhp-item {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.click-hin-in4-nhp-child {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.click-hin-in4-nhp-item {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm-wrapper23,
.sn-phm31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  height: 30px;
}
.sn-phm31 {
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.sn-phm-wrapper23 {
  cursor: pointer;
}
.nhp-hng48 {
  top: 0;
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-steelblue-200);
  display: inline-block;
  width: 159px;
}
.group-parent106,
.nhp-hng48,
.xut-hng35 {
  position: absolute;
  height: 30px;
}
.xut-hng35 {
  top: 0;
  left: 518px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
  cursor: pointer;
}
.group-parent106 {
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.click-hin-in4-nhp-inner {
  position: absolute;
  top: 105px;
  left: 473px;
  max-height: 100%;
  width: 148px;
}
.nhp-hng49 {
  position: absolute;
  top: 148px;
  left: 18px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  width: 217px;
  height: 55px;
}
.group-child461 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 137px;
  height: 43px;
}
.thm-mi11 {
  position: absolute;
  top: 12.4px;
  left: 48px;
  display: inline-block;
  width: 79px;
  height: 21.5px;
}
.icoutline-plus-icon35 {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 24px;
  height: 27.2px;
  overflow: hidden;
}
.rectangle-parent110 {
  position: absolute;
  top: 164px;
  left: 1102px;
  width: 137px;
  height: 43px;
  cursor: pointer;
}
.tm-kim-nhp-hng-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.theo-m-nhp4 {
  position: absolute;
  height: 48.84%;
  width: 37.15%;
  top: 25.58%;
  left: 8.7%;
  font-weight: 500;
  display: inline-block;
}
.octiconsearch-1626,
.vector-icon223 {
  position: absolute;
  height: 48.84%;
  top: 25.58%;
  bottom: 25.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.octiconsearch-1626 {
  width: 4.45%;
  right: 92.58%;
  left: 2.97%;
  cursor: pointer;
}
.vector-icon223 {
  width: 4.32%;
  right: 2.88%;
  left: 92.79%;
  object-fit: contain;
}
.tm-kim-nhp-hng2 {
  position: absolute;
  top: 169px;
  left: 278px;
  width: 555px;
  height: 43px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.carbonuser-avatar-filled-icon42 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung42 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon26 {
  position: absolute;
  top: 48px;
  left: 976px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.div302 {
  position: absolute;
  top: 6px;
  right: 1px;
  font-weight: 600;
  display: inline-block;
  width: 40px;
  height: 27px;
}
.rectangle-parent111 {
  position: absolute;
  height: 100%;
  width: 25.93%;
  top: 0;
  right: 74.07%;
  bottom: 0;
  left: 0;
}
.group-child463 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-steelblue-300);
}
.group-child463,
.group-child464,
.rectangle-parent112 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.rectangle-parent112 {
  width: 25.93%;
  right: 37.04%;
  left: 37.04%;
  color: var(--color-white);
}
.group-child464 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  cursor: pointer;
}
.group-parent107,
.rectangle-parent113 {
  position: absolute;
  height: 100%;
  width: 25.93%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 74.07%;
}
.group-parent107 {
  height: 4.69%;
  width: 12.66%;
  top: 94.11%;
  right: 40.08%;
  bottom: 1.2%;
  left: 47.27%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray-200);
}
.click-hin-in4-nhp-child1 {
  position: absolute;
  height: 2.21%;
  width: 1.84%;
  top: 121.77%;
  right: 93.87%;
  bottom: -23.98%;
  left: 4.3%;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.cng-ty-tnhh20,
.div305,
.nh00023,
.nhp-hng50 {
  position: absolute;
  top: 1010px;
  left: 648.9px;
  display: inline-block;
  width: 186.8px;
  height: 19.4px;
}
.div305,
.nh00023,
.nhp-hng50 {
  left: 375.5px;
  width: 143.5px;
}
.nh00023,
.nhp-hng50 {
  top: 1012px;
  left: 136.7px;
  width: 74.2px;
}
.nhp-hng50 {
  top: 1010px;
  left: 976.8px;
  width: 133.6px;
}
.check97 {
  position: absolute;
  height: 85.58%;
  width: 2.23%;
  top: 4.65%;
  right: 97.77%;
  bottom: 9.77%;
  left: 0;
}
.cng-ty-tnhh21,
.div306,
.nh00035,
.nhp-hng51 {
  position: absolute;
  height: 90.23%;
  width: 17.7%;
  top: 0;
  left: 56.27%;
  display: inline-block;
}
.div306,
.nh00035,
.nhp-hng51 {
  width: 13.6%;
  left: 30.36%;
}
.nh00035,
.nhp-hng51 {
  width: 7.03%;
  top: 9.3%;
  left: 7.74%;
}
.nhp-hng51 {
  width: 12.66%;
  top: 0;
  left: 87.33%;
}
.check-parent38 {
  position: absolute;
  height: 54.43%;
  width: 100%;
  top: 45.57%;
  right: 0;
  bottom: 0;
  left: 0;
}
.hin-in4-nhp-child {
  position: absolute;
  height: 2.53%;
  width: 112.08%;
  top: -1.27%;
  right: -7.77%;
  bottom: 98.73%;
  left: -4.31%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.hin-in4-nhp {
  position: absolute;
  top: 453px;
  left: 107px;
  width: 1055.5px;
  height: 39.5px;
}
.chnh-sa-child29,
.xc-nhn-v-sp-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-200);
}
.chnh-sa-child29 {
  width: 95.61%;
  right: 4.39%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
}
.vector-icon224 {
  position: absolute;
  height: 64.53%;
  width: 12.25%;
  top: 17.74%;
  right: 79.88%;
  bottom: 17.74%;
  left: 7.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.span6 {
  white-space: pre-wrap;
}
.c10 {
  font-size: var(--font-size-xl);
}
.chnh-sa-txt-container5 {
  width: 100%;
}
.chnh-sa90 {
  position: absolute;
  height: 67.92%;
  width: 75.49%;
  top: 14.34%;
  left: 24.51%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  display: none;
  align-items: center;
}
.chnh-sa-child30,
.chnh-sa89 {
  position: absolute;
  height: 24.31%;
  width: 19.56%;
  top: 59.27%;
  right: 56.69%;
  bottom: 16.42%;
  left: 23.76%;
}
.chnh-sa-child30 {
  height: 100%;
  width: 95.61%;
  top: 0;
  right: 4.39%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.chnh-sa92 {
  position: absolute;
  height: 67.92%;
  width: 75.49%;
  top: 14.34%;
  left: 24.51%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.chnh-sa91 {
  position: absolute;
  height: 24.31%;
  width: 19.56%;
  top: 59.27%;
  right: 27.6%;
  bottom: 16.42%;
  left: 52.84%;
  display: none;
  font-size: var(--font-size-xl);
}
.bn-chc-chn5,
.sa-thnh-cng {
  position: absolute;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-white);
}
.bn-chc-chn5 {
  top: 22.39%;
  left: 7.69%;
  font-size: var(--font-size-16xl);
  display: none;
}
.sa-thnh-cng {
  top: 41.28%;
  left: 28.99%;
  font-size: var(--font-size-xl);
  text-align: center;
}
.component-3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.x7 {
  position: absolute;
  height: 34.86%;
  width: 13.31%;
  top: 6.42%;
  left: 84.91%;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thng-bo-in-phiu {
  position: absolute;
  top: 377px;
  left: 492px;
  width: 338px;
  height: 109px;
  color: var(--color-steelblue-200);
}
.click-hin-in4-nhp {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
