.chnh-sa-tt-ti-khon-child {
  position: absolute;
  height: 8.77%;
  width: 6.48%;
  top: 5.41%;
  right: 89.69%;
  bottom: 85.82%;
  left: 3.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.chnh-sa-child6 {
  position: absolute;
  height: 100%;
  width: 95.64%;
  top: 0;
  right: 4.36%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-200);
}
.vector-icon33 {
  position: absolute;
  height: 64.35%;
  width: 12.31%;
  top: 17.83%;
  right: 79.83%;
  bottom: 17.83%;
  left: 7.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.chnh-sa22 {
  position: absolute;
  height: 67.83%;
  width: 75.47%;
  top: 14.35%;
  left: 24.53%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}
.chnh-sa21,
.chnh-sa23 {
  position: absolute;
  top: 696px;
  left: 828px;
  width: 117px;
  height: 46px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.chnh-sa23 {
  left: 987px;
}
.h-tn-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
}
.h-tn1 {
  width: 50.28%;
  top: 15%;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray-300);
  display: inline-block;
}
.h-tn-item,
.h-tn-mi,
.h-tn1 {
  position: absolute;
  left: 8.33%;
}
.h-tn-mi {
  width: 87.22%;
  top: 45%;
  display: inline-block;
}
.h-tn-item {
  height: 53.33%;
  width: 75%;
  top: 38.33%;
  right: 16.67%;
  bottom: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chc-v3,
.email3,
.h-tn,
.mt-khu3,
.st,
.tn-ng-nhp3 {
  position: absolute;
  top: 245px;
  left: 161px;
  width: 360px;
  height: 60px;
}
.chc-v3,
.email3,
.mt-khu3,
.st,
.tn-ng-nhp3 {
  top: 370px;
}
.chc-v3,
.mt-khu3,
.st,
.tn-ng-nhp3 {
  top: 495px;
}
.chc-v3,
.mt-khu3,
.tn-ng-nhp3 {
  top: 245px;
  left: 744px;
}
.chc-v3,
.mt-khu3 {
  top: 370px;
}
.chc-v3 {
  top: 495px;
}
.carbonuser-avatar-filled-icon4 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung4 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon4 {
  position: absolute;
  top: 45px;
  left: 931px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.chnh-sa-tt-ti-khon {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-work-sans);
}
