.chnh-sa-tt-ti-khon1-child {
  position: absolute;
  height: 8.77%;
  width: 6.48%;
  top: 5.41%;
  right: 89.69%;
  bottom: 85.82%;
  left: 3.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.carbonuser-avatar-filled-icon5 {
  position: absolute;
  top: 0;
  left: 182px;
  width: 69px;
  height: 69px;
  overflow: hidden;
}
.qlnxtrung5 {
  position: absolute;
  top: 25px;
  left: -11px;
  line-height: 20px;
  font-weight: 500;
}
.carbonuser-avatar-filled-parent {
  position: absolute;
  top: 48px;
  left: 975px;
  width: 251px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.chnh-sa-child8 {
  position: absolute;
  height: 100%;
  width: 95.64%;
  top: 0;
  right: 4.36%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-200);
}
.vector-icon35 {
  position: absolute;
  height: 64.35%;
  width: 12.31%;
  top: 17.83%;
  right: 79.83%;
  bottom: 17.83%;
  left: 7.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.chnh-sa26 {
  position: absolute;
  height: 67.83%;
  width: 75.47%;
  top: 14.35%;
  left: 24.53%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}
.chnh-sa25,
.chnh-sa27 {
  position: absolute;
  top: 696px;
  left: 828px;
  width: 117px;
  height: 46px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.chnh-sa27 {
  left: 987px;
}
.h-tn-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
}
.h-tn-mi6,
.h-tn8 {
  position: absolute;
  left: 8.33%;
  display: inline-block;
}
.h-tn8 {
  width: 50.28%;
  top: 15%;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray-300);
}
.h-tn-mi6 {
  width: 87.22%;
  top: 45%;
}
.h-tn-c6,
.h-tn-child1 {
  position: absolute;
  left: 8.33%;
  display: none;
}
.h-tn-child1 {
  height: 53.33%;
  width: 75%;
  top: 38.33%;
  right: 16.67%;
  bottom: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.h-tn-c6 {
  width: 87.22%;
  top: 45%;
}
.chc-v4,
.email4,
.h-tn7,
.mt-khu4,
.st1,
.tn-ng-nhp4 {
  position: absolute;
  top: 245px;
  left: 161px;
  width: 360px;
  height: 60px;
}
.chc-v4,
.email4,
.mt-khu4,
.st1,
.tn-ng-nhp4 {
  top: 370px;
}
.chc-v4,
.mt-khu4,
.st1,
.tn-ng-nhp4 {
  top: 495px;
}
.chc-v4,
.mt-khu4,
.tn-ng-nhp4 {
  top: 245px;
  left: 744px;
}
.chc-v4,
.mt-khu4 {
  top: 370px;
}
.chc-v4 {
  top: 495px;
}
.chnh-sa-child10,
.xc-nhn-v-sp-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-200);
}
.chnh-sa-child10 {
  width: 95.64%;
  right: 4.36%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.span1 {
  white-space: pre-wrap;
}
.c3 {
  font-size: var(--font-size-xl);
}
.chnh-sa-txt-container1 {
  width: 100%;
}
.chnh-sa30 {
  position: absolute;
  height: 67.83%;
  width: 75.47%;
  top: 14.35%;
  left: 24.53%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.chnh-sa29,
.chnh-sa31 {
  position: absolute;
  height: 24.34%;
  width: 19.57%;
  top: 59.26%;
  right: 56.69%;
  bottom: 16.4%;
  left: 23.75%;
}
.chnh-sa31 {
  right: 27.59%;
  left: 52.84%;
  font-size: var(--font-size-xl);
}
.bn-chc-chn1 {
  position: absolute;
  top: 26.98%;
  left: 7.69%;
  font-size: var(--font-size-16xl);
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-white);
}
.xc-nhn-v-sp1 {
  position: absolute;
  top: 322px;
  left: 341px;
  width: 598px;
  height: 189px;
  font-size: var(--font-size-base);
  color: var(--color-steelblue-200);
}
.chnh-sa-tt-ti-khon1 {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-work-sans);
}
