.group-child521 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-gainsboro);
  width: 1179px;
  height: 413px;
}
.cng-ty-tnhh49 {
  position: absolute;
  top: 71.5px;
  left: 638.3px;
  display: inline-block;
  width: 202.9px;
  height: 19.4px;
}
.div355,
.m-nhp-hng13,
.nh-cung-cp30,
.thi-gian12,
.trng-thi24 {
  position: absolute;
  top: 72.5px;
  left: 364.8px;
  display: inline-block;
  width: 143.5px;
  height: 19.4px;
}
.m-nhp-hng13,
.nh-cung-cp30,
.thi-gian12,
.trng-thi24 {
  top: 14.2px;
  left: 126px;
  width: 136.1px;
}
.nh-cung-cp30,
.thi-gian12,
.trng-thi24 {
  left: 364.8px;
  width: 87.9px;
}
.nh-cung-cp30,
.trng-thi24 {
  top: 18.3px;
  left: 638.3px;
  width: 132.4px;
}
.trng-thi24 {
  left: 966.2px;
  width: 96.5px;
}
.group-child522,
.group-child523 {
  position: absolute;
  top: 109.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1179px;
  height: 1px;
}
.group-child523 {
  top: 51.5px;
}
.check-child115 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.check118 {
  position: absolute;
  top: 70px;
  left: 44px;
  width: 23.5px;
  height: 18.4px;
}
.xh00017,
.xut-hng52 {
  position: absolute;
  top: 72.5px;
  left: 126px;
  display: inline-block;
  width: 70.5px;
  height: 19.4px;
}
.xut-hng52 {
  top: 76.6px;
  left: 966.2px;
  width: 133.6px;
}
.check119 {
  position: absolute;
  top: 128.7px;
  left: 44.3px;
  width: 23.5px;
  height: 18.4px;
}
.cng-ty-tnhh50,
.div356,
.xh00029,
.xut-hng53 {
  position: absolute;
  top: 125.7px;
  left: 638.3px;
  display: inline-block;
  width: 186.8px;
  height: 19.4px;
}
.div356,
.xh00029,
.xut-hng53 {
  left: 364.8px;
  width: 143.5px;
}
.xh00029,
.xut-hng53 {
  top: 127.7px;
  left: 126px;
  width: 74.2px;
}
.xut-hng53 {
  top: 125.7px;
  left: 966.2px;
  width: 133.6px;
}
.group-child524 {
  position: absolute;
  top: 195px;
  left: 365px;
  background-color: var(--color-gainsboro);
  width: 109px;
  height: 12px;
}
.rectangle-parent149 {
  position: absolute;
  top: 285px;
  right: 42px;
  width: 1179px;
  height: 413px;
}
.in-phiu-xut-child,
.in-phiu-xut-item {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.in-phiu-xut-child {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.in-phiu-xut-item {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm39 {
  left: 0;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.nhp-hng85,
.sn-phm-wrapper31,
.sn-phm39 {
  position: absolute;
  top: 0;
  width: 159px;
  height: 30px;
}
.sn-phm-wrapper31 {
  left: 0;
  cursor: pointer;
}
.nhp-hng85 {
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.frame-item,
.xut-hng54 {
  position: absolute;
  left: 518px;
}
.xut-hng54 {
  top: 0;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-steelblue-200);
  display: inline-block;
  width: 159px;
  height: 30px;
  cursor: pointer;
}
.frame-item {
  top: 30px;
  max-height: 100%;
  width: 148px;
}
.group-parent122 {
  position: absolute;
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  height: 30px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.xut-hng55 {
  position: absolute;
  top: 148px;
  left: 18px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  width: 217px;
  height: 55px;
}
.group-child525 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 137px;
  height: 43px;
}
.thm-mi19 {
  position: absolute;
  top: 12.4px;
  left: 48px;
  display: inline-block;
  width: 79px;
  height: 21.5px;
}
.icoutline-plus-icon43 {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 24px;
  height: 27.2px;
  overflow: hidden;
}
.rectangle-parent150 {
  position: absolute;
  top: 164px;
  left: 1102px;
  width: 137px;
  height: 43px;
  cursor: pointer;
}
.carbonuser-avatar-filled-icon50 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung50 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon34 {
  position: absolute;
  top: 48px;
  left: 976px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.div357 {
  position: absolute;
  top: 6px;
  right: 1px;
  font-weight: 600;
  display: inline-block;
  width: 40px;
  height: 27px;
}
.rectangle-parent151 {
  width: 25.93%;
  right: 74.07%;
  left: 0;
}
.group-child527,
.rectangle-parent151,
.rectangle-parent152 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.group-child527 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-steelblue-300);
}
.rectangle-parent152 {
  width: 25.93%;
  right: 37.04%;
  left: 37.04%;
  color: var(--color-white);
}
.group-parent123,
.rectangle-parent153 {
  position: absolute;
  height: 100%;
  width: 25.93%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 74.07%;
}
.group-parent123 {
  height: 4.69%;
  width: 12.66%;
  top: 94.11%;
  right: 40.08%;
  bottom: 1.2%;
  left: 47.27%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray-200);
}
.in-phiu-xut-inner {
  position: absolute;
  height: 2.21%;
  width: 1.84%;
  top: 121.77%;
  right: 93.87%;
  bottom: -23.98%;
  left: 4.3%;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.cng-ty-tnhh51,
.div360,
.nh000212,
.nhp-hng86 {
  position: absolute;
  top: 1010px;
  left: 648.9px;
  display: inline-block;
  width: 186.8px;
  height: 19.4px;
}
.div360,
.nh000212,
.nhp-hng86 {
  left: 375.5px;
  width: 143.5px;
}
.nh000212,
.nhp-hng86 {
  top: 1012px;
  left: 136.7px;
  width: 74.2px;
}
.nhp-hng86 {
  top: 1010px;
  left: 976.8px;
  width: 133.6px;
}
.tm-kim-xut-hng-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.theo-m-xut11 {
  position: absolute;
  height: 48.84%;
  width: 37.15%;
  top: 25.58%;
  left: 8.7%;
  font-weight: 500;
  display: inline-block;
}
.octiconsearch-1634,
.vector-icon243 {
  position: absolute;
  height: 48.84%;
  width: 4.45%;
  top: 25.58%;
  right: 92.58%;
  bottom: 25.58%;
  left: 2.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon243 {
  width: 4.32%;
  right: 2.88%;
  left: 92.79%;
  object-fit: contain;
}
.tm-kim-xut-hng4 {
  position: absolute;
  top: 160px;
  left: 253px;
  width: 555px;
  height: 43px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.check120 {
  position: absolute;
  height: 85.58%;
  width: 2.23%;
  top: 4.65%;
  right: 97.77%;
  bottom: 9.77%;
  left: 0;
}
.cng-ty-tnhh52,
.div361,
.nhp-hng87,
.xh00038 {
  position: absolute;
  height: 90.23%;
  width: 17.7%;
  top: 0;
  left: 56.27%;
  display: inline-block;
}
.div361,
.nhp-hng87,
.xh00038 {
  width: 13.6%;
  left: 30.36%;
}
.nhp-hng87,
.xh00038 {
  width: 7.03%;
  top: 9.3%;
  left: 7.74%;
}
.nhp-hng87 {
  width: 12.66%;
  top: 0;
  left: 87.33%;
}
.check-parent45 {
  position: absolute;
  height: 54.43%;
  width: 100%;
  top: 45.57%;
  right: 0;
  bottom: 0;
  left: 0;
}
.hin-in4-xut-child3 {
  position: absolute;
  height: 2.53%;
  width: 112.08%;
  top: -1.27%;
  right: -7.77%;
  bottom: 98.73%;
  left: -4.31%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.hin-in4-xut5 {
  position: absolute;
  top: 451px;
  left: 104px;
  width: 1055.5px;
  height: 39.5px;
}
.chnh-sa-child41,
.xc-nhn-v-sp-child6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-200);
}
.chnh-sa-child41 {
  width: 95.61%;
  right: 4.39%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
}
.vector-icon244 {
  position: absolute;
  height: 64.53%;
  width: 12.25%;
  top: 17.74%;
  right: 79.88%;
  bottom: 17.74%;
  left: 7.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.span12 {
  white-space: pre-wrap;
}
.c16 {
  font-size: var(--font-size-xl);
}
.chnh-sa-txt-container11 {
  width: 100%;
}
.chnh-sa114 {
  position: absolute;
  height: 67.92%;
  width: 75.49%;
  top: 14.34%;
  left: 24.51%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  display: none;
  align-items: center;
}
.chnh-sa-child42,
.chnh-sa113 {
  position: absolute;
  height: 24.31%;
  width: 19.56%;
  top: 59.27%;
  right: 56.69%;
  bottom: 16.42%;
  left: 23.76%;
}
.chnh-sa-child42 {
  height: 100%;
  width: 95.61%;
  top: 0;
  right: 4.39%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.chnh-sa116 {
  position: absolute;
  height: 67.92%;
  width: 75.49%;
  top: 14.34%;
  left: 24.51%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.chnh-sa115 {
  position: absolute;
  height: 24.31%;
  width: 19.56%;
  top: 59.27%;
  right: 27.6%;
  bottom: 16.42%;
  left: 52.84%;
  display: none;
  font-size: var(--font-size-xl);
}
.bn-chc-chn11,
.sa-thnh-cng5 {
  position: absolute;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-white);
}
.bn-chc-chn11 {
  top: 22.39%;
  left: 7.69%;
  font-size: var(--font-size-16xl);
  display: none;
}
.sa-thnh-cng5 {
  top: 41.28%;
  left: 23.37%;
  font-size: var(--font-size-xl);
  text-align: center;
}
.component-35 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.x12 {
  position: absolute;
  height: 34.86%;
  width: 13.31%;
  top: 6.42%;
  left: 84.91%;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thng-bo-in-phiu5 {
  position: absolute;
  top: 382px;
  left: 496px;
  width: 338px;
  height: 109px;
  color: var(--color-steelblue-200);
}
.in-phiu-xut {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
