.image-2-icon {
  position: absolute;
  top: 1467px;
  left: 166px;
  width: 800px;
  height: 400px;
  object-fit: cover;
}
.cho-mng-n {
  letter-spacing: -0.05em;
  font-weight: 300;
}
.vinken {
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #285b78;
}
.cho-mng-n-container {
  position: absolute;
  top: 307px;
  left: 185px;
  line-height: 90px;
  display: inline-block;
  width: 871px;
  height: 295px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 191px;
  height: 71px;
}
.ng-nhp,
.ng-nhp-wrapper {
  position: absolute;
  top: 4.2px;
  left: 4.8px;
}
.ng-nhp-wrapper {
  top: 21.8px;
  left: 37.2px;
  width: 116.9px;
  height: 25.7px;
}
.group-wrapper,
.macbook-air-1-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 191px;
  height: 71px;
}
.macbook-air-1-inner {
  top: 499px;
  left: 525px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.macbook-air-1-child {
  position: absolute;
  height: 8.77%;
  width: 6.48%;
  top: 5.41%;
  right: 89.77%;
  bottom: 85.82%;
  left: 3.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.cng-ty-tnhh {
  position: absolute;
  top: 44px;
  left: 145px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 549px;
  height: 55px;
}
.macbook-air-1 {
  position: absolute;
  top: calc(50% - 416px);
  left: calc(50% - 640px);
  width: 1280px;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/macbook-air--1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.mn-hnh-welcome {
  width: 100%;
  position: relative;
  height: 832px;
  text-align: center;
  font-size: 92px;
  color: #1a1717;
  font-family: var(--font-work-sans);
}
