.group-child562 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-gainsboro);
  width: 1179px;
  height: 413px;
}
.cng-ty-tnhh68 {
  position: absolute;
  top: 68.5px;
  left: 638.3px;
  display: inline-block;
  width: 202.9px;
  height: 19.4px;
}
.div393,
.m-nhp-hng18,
.nh-cung-cp35,
.thi-gian17,
.trng-thi29 {
  position: absolute;
  top: 69.5px;
  left: 364.8px;
  display: inline-block;
  width: 143.5px;
  height: 19.4px;
}
.m-nhp-hng18,
.nh-cung-cp35,
.thi-gian17,
.trng-thi29 {
  top: 11.2px;
  left: 126px;
  width: 136.1px;
}
.nh-cung-cp35,
.thi-gian17,
.trng-thi29 {
  left: 364.8px;
  width: 87.9px;
}
.nh-cung-cp35,
.trng-thi29 {
  top: 15.3px;
  left: 638.3px;
  width: 132.4px;
}
.trng-thi29 {
  left: 966.2px;
  width: 96.5px;
}
.group-child563 {
  position: absolute;
  top: 48.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1179px;
  height: 1px;
}
.check-child129 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.check132 {
  position: absolute;
  top: 67px;
  left: 44px;
  width: 23.5px;
  height: 18.4px;
}
.nh00018,
.nhp-hng111 {
  position: absolute;
  top: 69.5px;
  left: 126px;
  display: inline-block;
  width: 70.5px;
  height: 19.4px;
}
.nhp-hng111 {
  top: 73.6px;
  left: 966.2px;
  width: 133.6px;
}
.rectangle-parent174 {
  position: absolute;
  top: 295px;
  right: 51px;
  width: 1179px;
  height: 413px;
}
.kq-tk-nhp-hng-child,
.kq-tk-nhp-hng-item {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.kq-tk-nhp-hng-child {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.kq-tk-nhp-hng-item {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm44 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
  height: 30px;
}
.nhp-hng112,
.sn-phm-wrapper36 {
  top: 0;
  width: 159px;
  cursor: pointer;
}
.sn-phm-wrapper36 {
  position: absolute;
  left: 0;
  height: 30px;
}
.nhp-hng112 {
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-steelblue-200);
  display: inline-block;
}
.group-parent132,
.nhp-hng112,
.xut-hng60 {
  position: absolute;
  height: 30px;
}
.xut-hng60 {
  top: 0;
  left: 518px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
  cursor: pointer;
}
.group-parent132 {
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.kq-tk-nhp-hng-inner {
  position: absolute;
  top: 105px;
  left: 473px;
  max-height: 100%;
  width: 148px;
}
.nhp-hng113 {
  position: absolute;
  top: 145px;
  left: 4px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  width: 217px;
  height: 55px;
}
.group-child564 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 137px;
  height: 43px;
}
.thm-mi24 {
  position: absolute;
  top: 12.4px;
  left: 48px;
  display: inline-block;
  width: 79px;
  height: 21.5px;
}
.icoutline-plus-icon48 {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 24px;
  height: 27.2px;
  overflow: hidden;
}
.rectangle-parent175 {
  position: absolute;
  top: 164px;
  left: 1102px;
  width: 137px;
  height: 43px;
  cursor: pointer;
}
.carbonuser-avatar-filled-icon55 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung55 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon39 {
  position: absolute;
  top: 48px;
  left: 976px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.tm-kim-nhp-hng-child11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.theo-m-nhp16 {
  position: absolute;
  height: 48.84%;
  width: 37.15%;
  top: 25.58%;
  left: 8.7%;
  font-weight: 500;
  display: inline-block;
}
.octiconsearch-1639,
.vector-icon260 {
  position: absolute;
  height: 48.84%;
  top: 25.58%;
  bottom: 25.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.octiconsearch-1639 {
  width: 4.45%;
  right: 92.58%;
  left: 2.97%;
  cursor: pointer;
}
.vector-icon260 {
  width: 4.32%;
  right: 2.88%;
  left: 92.79%;
  object-fit: contain;
}
.tm-kim-nhp-hng14 {
  position: absolute;
  top: 169px;
  left: 278px;
  width: 555px;
  height: 43px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.div394 {
  position: absolute;
  top: 6px;
  right: 1px;
  font-weight: 600;
  display: inline-block;
  width: 40px;
  height: 27px;
}
.rectangle-parent176 {
  width: 25.93%;
  right: 74.07%;
  left: 0;
}
.group-child566,
.rectangle-parent176,
.rectangle-parent177 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.group-child566 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-steelblue-300);
}
.rectangle-parent177 {
  width: 25.93%;
  right: 37.04%;
  left: 37.04%;
  color: var(--color-white);
}
.group-parent133,
.rectangle-parent178 {
  position: absolute;
  height: 100%;
  width: 25.93%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 74.07%;
}
.group-parent133 {
  height: 4.69%;
  width: 12.66%;
  top: 94.11%;
  right: 40.08%;
  bottom: 1.2%;
  left: 47.27%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray-200);
}
.kq-tk-nhp-hng {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
