.group-child674 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-gainsboro);
  width: 966px;
  height: 493px;
}
.group-child676 {
  position: absolute;
  top: 58.1px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 966px;
  height: 1px;
}
.m-sn-phm17,
.n-gi61,
.s-lng36,
.tn-sn-phm24 {
  position: absolute;
  top: 2px;
  left: 481px;
  display: inline-block;
  width: 90px;
  height: 19px;
}
.m-sn-phm17,
.n-gi61,
.tn-sn-phm24 {
  top: 0;
  left: 0;
  width: 114.1px;
  height: 23.2px;
}
.n-gi61,
.tn-sn-phm24 {
  top: 2px;
  left: 207px;
  width: 115px;
  height: 39px;
}
.n-gi61 {
  top: 0;
  left: 685px;
  width: 115.7px;
  height: 42px;
}
.check-child161,
.s-lng-parent15 {
  position: absolute;
  top: 21px;
  left: 99px;
  width: 800.7px;
  height: 42px;
}
.check-child161 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.check164,
.sp000126 {
  position: absolute;
  top: 25.8px;
  left: 0;
  width: 19.7px;
  height: 22px;
}
.sp000126 {
  top: 26.8px;
  left: 64px;
  display: inline-block;
  width: 59.1px;
  height: 23.2px;
}
.div517,
.div518,
.thp-cy-vit45 {
  position: absolute;
  top: 0;
  left: 271px;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
  width: 180px;
  height: 45px;
}
.div517,
.div518 {
  top: 28.2px;
  left: 748px;
  width: 90px;
  height: 19px;
}
.div518 {
  left: 567px;
  width: 29px;
}
.check-parent59 {
  position: absolute;
  top: 58.2px;
  left: 35px;
  width: 838px;
  height: 50px;
}
.rectangle-parent216 {
  position: absolute;
  top: 277px;
  right: 46px;
  width: 966px;
  height: 493px;
}
.check165,
.sp000127 {
  position: absolute;
  top: 30px;
  left: 0;
  width: 19.7px;
  height: 22px;
}
.sp000127 {
  top: 31px;
  left: 64px;
  display: inline-block;
  width: 59.1px;
  height: 23.2px;
}
.div519,
.div520 {
  position: absolute;
  top: 34px;
  left: 748px;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
  width: 90px;
  height: 19px;
}
.div520 {
  top: 27px;
  left: 570px;
  width: 29px;
}
.check-parent60 {
  position: absolute;
  top: 54px;
  left: 35px;
  width: 838px;
  height: 54.2px;
}
.rectangle-parent217 {
  position: absolute;
  top: 277px;
  right: 47px;
  width: 966px;
  height: 493px;
}
.kt-qu-tm-kim-sn-phm-child,
.kt-qu-tm-kim-sn-phm-item {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.kt-qu-tm-kim-sn-phm-child {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.kt-qu-tm-kim-sn-phm-item {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm54 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
  height: 30px;
}
.nhp-hng128,
.sn-phm-wrapper42 {
  top: 0;
  width: 159px;
  cursor: pointer;
}
.sn-phm-wrapper42 {
  position: absolute;
  left: 0;
  height: 30px;
  color: var(--color-steelblue-200);
}
.nhp-hng128 {
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.group-parent154,
.nhp-hng128,
.xut-hng67 {
  position: absolute;
  height: 30px;
}
.xut-hng67 {
  top: 0;
  left: 518px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
  cursor: pointer;
}
.group-parent154 {
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.group-child680 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 137px;
  height: 43px;
}
.thm-mi29 {
  position: absolute;
  top: 12.4px;
  left: 48px;
  display: inline-block;
  width: 79px;
  height: 21.5px;
}
.icoutline-plus-icon55 {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 24px;
  height: 27.2px;
  overflow: hidden;
}
.rectangle-parent218 {
  position: absolute;
  top: 164px;
  left: 1102px;
  width: 137px;
  height: 43px;
  cursor: pointer;
}
.kt-qu-tm-kim-sn-phm-inner {
  position: absolute;
  top: 105px;
  left: 213px;
  max-height: 100%;
  width: 139px;
}
.m-nhp-hng22,
.n-gi63,
.nh-cung-cp41,
.tn-sn-phm26 {
  position: absolute;
  top: 13.4px;
  left: 83px;
  display: inline-block;
  width: 114.1px;
  height: 23.2px;
}
.n-gi63,
.nh-cung-cp41,
.tn-sn-phm26 {
  top: 21px;
  left: 275px;
  width: 115px;
  height: 39px;
}
.n-gi63,
.nh-cung-cp41 {
  top: 18.3px;
  left: 512.6px;
  width: 111px;
  height: 23.2px;
}
.n-gi63 {
  left: 787.5px;
  width: 80.9px;
}
.check166 {
  position: absolute;
  top: 13.4px;
  left: 14.5px;
  width: 19.7px;
  height: 22px;
}
.group-child684 {
  position: absolute;
  top: 123.3px;
  left: 0;
  max-height: 100%;
  width: 966px;
}
.check167,
.sp000128 {
  position: absolute;
  top: 22px;
  left: 0;
  width: 20.4px;
  height: 22px;
}
.sp000128 {
  top: 23px;
  left: 93px;
  display: inline-block;
  width: 61.3px;
  height: 23.2px;
}
.div521,
.div522,
.thp-cy-vit47 {
  position: absolute;
  top: 0;
  left: 227px;
  display: flex;
  align-items: flex-end;
  width: 207.2px;
  height: 45px;
}
.div521,
.div522 {
  top: 22px;
  left: 774.8px;
  width: 93.2px;
  height: 19px;
}
.div522 {
  top: 26px;
  left: 536px;
  width: 30px;
}
.check-parent61,
.sn-phm55 {
  position: absolute;
  top: 57px;
  left: 15px;
  width: 868px;
  height: 46.2px;
}
.sn-phm55 {
  top: 144px;
  left: 16px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  width: 199px;
  height: 55px;
}
.group-child685 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 178px;
  height: 148px;
}
.loi-hng16 {
  position: absolute;
  top: 8.2px;
  left: 12.8px;
  font-weight: 500;
  display: inline-block;
  width: 110.5px;
  height: 20.9px;
}
.group-wrapper39,
.rectangle-parent220 {
  position: absolute;
  top: 0;
  left: 0;
  width: 178px;
  height: 148px;
}
.group-wrapper39 {
  font-size: var(--font-size-xl);
}
.vl-c-bn16 {
  position: absolute;
  top: 0;
  left: 30px;
  display: inline-block;
  width: 88px;
  height: 21px;
}
.check-wrapper25,
.group-wrapper40 {
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 18px;
}
.group-wrapper40 {
  top: 3px;
}
.vl-c-bn-parent5,
.vl-kt-cu10 {
  position: absolute;
  top: 42px;
  left: 13px;
  width: 118px;
  height: 21px;
}
.vl-kt-cu10 {
  top: 0;
  left: 30px;
  display: inline-block;
  width: 94px;
}
.vl-hon-thin10,
.vl-kt-cu-parent7 {
  position: absolute;
  top: 78px;
  left: 13px;
  width: 124px;
  height: 21px;
}
.vl-hon-thin10 {
  top: 0;
  left: 30px;
  display: inline-block;
  width: 123px;
}
.group-parent155,
.vl-hon-thin-parent6 {
  position: absolute;
  top: 114px;
  left: 13px;
  width: 153px;
  height: 21px;
}
.group-parent155 {
  top: 361px;
  left: 60px;
  width: 178px;
  height: 148px;
  font-size: var(--font-size-lg);
}
.group-child686 {
  position: absolute;
  top: 17px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 178px;
  height: 116px;
}
.div523,
.thp10 {
  position: absolute;
  top: 56px;
  left: 13px;
}
.div523 {
  top: 0;
  left: 95px;
}
.cao11,
.div524,
.mc-gi10 {
  position: absolute;
  top: 96px;
  left: 84px;
}
.cao11,
.mc-gi10 {
  top: 56px;
  left: 123px;
}
.mc-gi10 {
  top: 25.2px;
  left: 12.8px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 110.5px;
  height: 20.9px;
}
.group-child687,
.group-child688 {
  position: absolute;
  top: 92px;
  left: 15px;
  background-color: var(--color-white);
  width: 62px;
  height: 25px;
}
.group-child688 {
  top: 91px;
  left: 100px;
}
.rectangle-parent221 {
  position: absolute;
  top: 564px;
  left: 60px;
  width: 178px;
  height: 133px;
  font-size: var(--font-size-lg);
}
.carbonuser-avatar-filled-icon66 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung64 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon46 {
  position: absolute;
  top: 48px;
  left: 976px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.tm-kim-sn-phm-child9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.tm-kim-sn34 {
  position: absolute;
  height: 48.84%;
  width: 37.15%;
  top: 25.58%;
  left: 8.7%;
  font-weight: 500;
  display: inline-block;
}
.octiconsearch-1644,
.vector-icon418 {
  position: absolute;
  height: 48.84%;
  width: 4.45%;
  top: 25.58%;
  right: 92.58%;
  bottom: 25.58%;
  left: 2.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon418 {
  width: 4.32%;
  right: 2.88%;
  left: 92.79%;
  object-fit: contain;
}
.tm-kim-sn-phm12 {
  position: absolute;
  top: 169px;
  left: 278px;
  width: 555px;
  height: 43px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.div525 {
  position: absolute;
  top: 6px;
  right: 1px;
  font-weight: 600;
  display: inline-block;
  width: 40px;
  height: 27px;
}
.rectangle-parent222 {
  position: absolute;
  height: 100%;
  width: 25.93%;
  top: 0;
  right: 74.07%;
  bottom: 0;
  left: 0;
}
.group-child690 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-steelblue-300);
}
.group-child690,
.group-child691,
.rectangle-parent223 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.rectangle-parent223 {
  width: 25.93%;
  right: 37.04%;
  left: 37.04%;
  color: var(--color-white);
}
.group-child691 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  cursor: pointer;
}
.group-parent156,
.rectangle-parent224 {
  position: absolute;
  height: 100%;
  width: 25.93%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 74.07%;
}
.group-parent156 {
  height: 4.69%;
  width: 12.66%;
  top: 94.11%;
  right: 40.08%;
  bottom: 1.2%;
  left: 47.27%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray-200);
}
.kt-qu-tm-kim-sn-phm {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
