.carbonuser-avatar-filled-icon58 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nvvltkieu {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.property-1default8 {
  position: absolute;
  top: 0;
  left: 151px;
  width: 262px;
  height: 69px;
}
.menu-tk-item {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child570,
.menu-tk-item,
.ng-xut5,
.ng-xut6 {
  position: absolute;
  height: 100%;
  top: 0;
}
.ng-xut6 {
  width: 100%;
  left: 0;
  line-height: 20px;
  display: inline-block;
}
.group-child570,
.ng-xut5 {
  width: 78.5%;
  right: 0;
  bottom: 0;
  left: 21.5%;
}
.group-child570 {
  width: 15%;
  right: 85%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ng-xut-group {
  position: absolute;
  height: 25%;
  width: 55.4%;
  top: 58.33%;
  right: 37.67%;
  bottom: 16.67%;
  left: 6.93%;
  cursor: pointer;
}
.chnh-sa-ti1,
.group-child571 {
  position: absolute;
  height: 78.95%;
}
.chnh-sa-ti1 {
  width: 89.88%;
  top: 21.05%;
  left: 10.12%;
  line-height: 20px;
  display: inline-block;
  cursor: pointer;
}
.group-child571 {
  width: 9.2%;
  top: 0;
  right: 90.8%;
  bottom: 21.05%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chnh-sa-ti-khon-group,
.menu-tk1 {
  position: absolute;
  height: 31.67%;
  width: 90.3%;
  top: 11.67%;
  right: 3.6%;
  bottom: 56.67%;
  left: 6.09%;
  color: var(--color-black);
}
.menu-tk1 {
  height: 173.91%;
  width: 137.79%;
  top: 100%;
  right: -3.05%;
  bottom: -173.91%;
  left: -34.73%;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-400);
}
.property-1variant23 {
  position: absolute;
  top: 163px;
  left: 157px;
  width: 262px;
  height: 69px;
}
.menu-ti-khon-nhan-vien {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 465px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
  font-family: var(--font-work-sans);
}
