.property-1group-86-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.sp000331 {
  position: absolute;
  width: 64.75%;
  top: 13.51%;
  left: 33.81%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
}
.property-1group-86-inner,
.property-1group-86-item {
  position: absolute;
  height: 54.05%;
  top: 13.51%;
  bottom: 32.43%;
  left: 33.81%;
}
.property-1group-86-item {
  max-height: 100%;
  width: 0;
  object-fit: contain;
  opacity: 0;
}
.property-1group-86-inner {
  width: 64.75%;
  right: 1.44%;
  background-color: var(--color-white);
}
.m-hng57 {
  position: absolute;
  width: 38.59%;
  top: 13.51%;
  left: 1.2%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  white-space: pre-wrap;
  display: inline-block;
}
.property-1group-86-child1 {
  position: absolute;
  height: 2.7%;
  width: 98.2%;
  top: 85.14%;
  right: 0.72%;
  bottom: 12.16%;
  left: 1.08%;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.property-1group-86 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 417px;
  height: 37px;
}
.sp000332 {
  position: absolute;
  width: 64.75%;
  top: 13.51%;
  left: 33.81%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  opacity: 0;
}
.property-1group-87-child1,
.property-1group-87-inner {
  position: absolute;
  height: 54.05%;
  width: 0.48%;
  top: 13.51%;
  bottom: 32.43%;
}
.property-1group-87-inner {
  right: 65.71%;
  left: 33.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.property-1group-87-child1 {
  right: 0.48%;
  left: 99.04%;
  background-color: var(--color-white);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.sp0002109 {
  position: absolute;
  width: 64.03%;
  top: 13.51%;
  left: 34.53%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  opacity: 0;
}
.property-1group-871 {
  position: absolute;
  top: 76px;
  left: 20px;
  width: 417px;
  height: 37px;
}
.sp0002110 {
  position: absolute;
  width: 64.75%;
  top: 13.51%;
  left: 33.81%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: none;
}
.property-1group-88 {
  position: absolute;
  top: 125px;
  left: 20px;
  width: 417px;
  height: 37px;
}
.property-1group-89-inner {
  position: absolute;
  height: 54.05%;
  width: 64.75%;
  top: 13.51%;
  right: 1.44%;
  bottom: 32.43%;
  left: 33.81%;
  background-color: var(--color-white);
  display: none;
}
.property-1group-89 {
  position: absolute;
  top: 174px;
  left: 20px;
  width: 417px;
  height: 37px;
}
.sa-tt-sp31 {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 231px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
