.sa-tt-sp-xc-nhn-child,
.sa-tt-sp-xc-nhn-item {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sa-tt-sp-xc-nhn-child {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.sa-tt-sp-xc-nhn-item {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm-wrapper1,
.sn-phm5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  height: 30px;
}
.sn-phm5 {
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.sn-phm-wrapper1 {
  color: var(--color-steelblue-200);
}
.nhp-hng4 {
  top: 0;
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
}
.group-parent6,
.nhp-hng4,
.xut-hng5 {
  position: absolute;
  height: 30px;
}
.xut-hng5 {
  top: 0;
  left: 518px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
}
.group-parent6 {
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.group-child31 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 137px;
  height: 43px;
}
.thm-mi4 {
  position: absolute;
  top: 12.4px;
  left: 48px;
  display: inline-block;
  width: 79px;
  height: 21.5px;
}
.icoutline-plus-icon4 {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 24px;
  height: 27.2px;
  overflow: hidden;
}
.rectangle-parent17 {
  position: absolute;
  top: 164px;
  left: 1102px;
  width: 137px;
  height: 43px;
}
.sa-tt-sp-xc-nhn-inner {
  position: absolute;
  top: 105px;
  left: 213px;
  max-height: 100%;
  width: 139px;
}
.group-child32 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-gainsboro);
  width: 966px;
  height: 493px;
}
.c1,
.m-nhp-hng1,
.nh-cung-cp2,
.tn-sn-phm5,
.trng-thi2 {
  position: absolute;
  top: 81.8px;
  left: 512.6px;
  display: inline-block;
  width: 170.2px;
  height: 23.2px;
}
.m-nhp-hng1,
.nh-cung-cp2,
.tn-sn-phm5,
.trng-thi2 {
  top: 13.4px;
  left: 83px;
  width: 114.1px;
}
.nh-cung-cp2,
.tn-sn-phm5,
.trng-thi2 {
  top: 21px;
  left: 275px;
  width: 115px;
  height: 39px;
}
.nh-cung-cp2,
.trng-thi2 {
  top: 18.3px;
  left: 512.6px;
  width: 111px;
  height: 23.2px;
}
.trng-thi2 {
  left: 787.5px;
  width: 80.9px;
}
.group-child34 {
  position: absolute;
  top: 58.1px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 966px;
  height: 1px;
}
.check-child12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.check15,
.check16,
.check17 {
  position: absolute;
  top: 150.1px;
  left: 14.5px;
  width: 19.7px;
  height: 22px;
}
.check16,
.check17 {
  top: 80.5px;
  left: 13.5px;
}
.check17 {
  top: 13.4px;
  left: 14.5px;
}
.group-child35 {
  position: absolute;
  top: 123.3px;
  left: 0;
  max-height: 100%;
  width: 966px;
}
.nhp-hng5,
.sp00013,
.sp000214 {
  position: absolute;
  top: 83px;
  left: 83px;
  display: inline-block;
  width: 59.1px;
  height: 23.2px;
}
.nhp-hng5,
.sp000214 {
  top: 148.9px;
  width: 62.3px;
}
.nhp-hng5 {
  top: 146.4px;
  left: 787.5px;
  width: 112.1px;
}
.thp-cy-vit3 {
  margin: 0;
}
.thp-cy-vit-container1 {
  position: absolute;
  top: 72px;
  left: 275px;
  font-weight: 300;
}
.rectangle-parent18 {
  position: absolute;
  top: 277px;
  right: 37px;
  width: 966px;
  height: 493px;
}
.m-sn-phm4,
.s-lng4,
.tn-sn-phm6 {
  position: absolute;
  top: 2px;
  left: 481px;
  display: inline-block;
  width: 90px;
  height: 19px;
}
.m-sn-phm4,
.tn-sn-phm6 {
  top: 0;
  left: 0;
  width: 114.1px;
  height: 23.2px;
}
.tn-sn-phm6 {
  top: 2px;
  left: 207px;
  width: 115px;
  height: 39px;
}
.n-gi6,
.s-lng-parent2 {
  position: absolute;
  height: 42px;
}
.n-gi6 {
  top: 0;
  left: 685px;
  display: inline-block;
  width: 115.7px;
}
.s-lng-parent2 {
  top: 21px;
  left: 99px;
  width: 800.7px;
}
.check18,
.sp00014 {
  position: absolute;
  top: 30px;
  left: 0;
  width: 19.7px;
  height: 22px;
}
.sp00014 {
  top: 31px;
  left: 64px;
  display: inline-block;
  width: 59.1px;
  height: 23.2px;
}
.div30,
.div31,
.thp-cy-vit4 {
  position: absolute;
  top: 0;
  left: 271px;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
  width: 180px;
  height: 45px;
}
.div30,
.div31 {
  top: 34px;
  left: 748px;
  width: 90px;
  height: 19px;
}
.div31 {
  top: 27px;
  left: 570px;
  width: 29px;
}
.check-parent3,
.check19 {
  position: absolute;
  top: 54px;
  left: 35px;
  width: 838px;
  height: 54.2px;
}
.check19 {
  top: 1px;
  left: 0;
  width: 19.7px;
  height: 22px;
}
.div32,
.div33,
.sp000215,
.st-cun-phi5 {
  position: absolute;
  top: 1px;
  left: 64px;
  display: inline-block;
  width: 62.3px;
  height: 23.2px;
}
.div32,
.div33,
.st-cun-phi5 {
  left: 271px;
  font-weight: 300;
  width: 145px;
  height: 19px;
}
.div32,
.div33 {
  top: 6px;
  left: 751px;
  width: 58px;
}
.div33 {
  top: 0;
  left: 568px;
  width: 28px;
  height: 35px;
}
.check-parent4,
.sn-phm6 {
  position: absolute;
  top: 137px;
  left: 35px;
  width: 809px;
  height: 35px;
}
.sn-phm6 {
  top: 144px;
  left: 16px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  width: 199px;
  height: 55px;
}
.group-child44 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 178px;
  height: 148px;
}
.loi-hng2 {
  position: absolute;
  top: 8.2px;
  left: 12.8px;
  font-weight: 500;
  display: inline-block;
  width: 110.5px;
  height: 20.9px;
}
.group-wrapper8,
.rectangle-parent21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 178px;
  height: 148px;
}
.group-wrapper8 {
  font-size: var(--font-size-xl);
}
.vl-c-bn2 {
  position: absolute;
  top: 0;
  left: 30px;
  display: inline-block;
  width: 88px;
  height: 21px;
}
.check-wrapper4,
.group-wrapper9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 18px;
}
.group-wrapper9 {
  top: 3px;
}
.vl-c-bn-group,
.vl-kt-cu2 {
  position: absolute;
  top: 42px;
  left: 13px;
  width: 118px;
  height: 21px;
}
.vl-kt-cu2 {
  top: 0;
  left: 30px;
  display: inline-block;
  width: 94px;
}
.vl-hon-thin2,
.vl-kt-cu-container {
  position: absolute;
  top: 78px;
  left: 13px;
  width: 124px;
  height: 21px;
}
.vl-hon-thin2 {
  top: 0;
  left: 30px;
  display: inline-block;
  width: 123px;
}
.group-parent7,
.vl-hon-thin-container {
  position: absolute;
  top: 114px;
  left: 13px;
  width: 153px;
  height: 21px;
}
.group-parent7 {
  top: 279px;
  left: 55px;
  width: 178px;
  height: 148px;
  font-size: var(--font-size-lg);
}
.ngy {
  position: absolute;
  top: 0;
  left: 30px;
}
.group-parent8,
.ngy-group,
.ngy-parent,
.thng-parent {
  position: absolute;
  top: 42px;
  left: 13px;
  width: 86px;
  height: 21px;
}
.group-parent8,
.ngy-group,
.thng-parent {
  top: 78px;
  width: 98px;
}
.group-parent8,
.thng-parent {
  top: 114px;
  width: 97px;
}
.group-parent8 {
  top: 467px;
  left: 53px;
  width: 178px;
  height: 148px;
  font-size: var(--font-size-lg);
}
.group-child46 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 178px;
  height: 116px;
}
.thp2 {
  position: absolute;
  top: 39px;
  left: 13px;
}
.cao2,
.div38,
.div39,
.mc-gi2 {
  position: absolute;
  top: 39px;
  left: 84px;
}
.cao2,
.div39,
.mc-gi2 {
  top: 79px;
}
.cao2,
.mc-gi2 {
  top: 39px;
  left: 123px;
}
.mc-gi2 {
  top: 8.2px;
  left: 12.8px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 110.5px;
  height: 20.9px;
}
.group-child47,
.group-child48 {
  position: absolute;
  top: 75px;
  left: 15px;
  background-color: var(--color-white);
  width: 62px;
  height: 25px;
}
.group-child48 {
  top: 74px;
  left: 100px;
}
.rectangle-parent23 {
  position: absolute;
  top: 654px;
  left: 55px;
  width: 178px;
  height: 116px;
  font-size: var(--font-size-lg);
}
.carbonuser-avatar-filled-icon3 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung3 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon3 {
  position: absolute;
  top: 48px;
  left: 976px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.tm-kim-sn-phm-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.tm-kim-sn2 {
  position: absolute;
  height: 48.84%;
  width: 37.15%;
  top: 25.58%;
  left: 8.7%;
  font-weight: 500;
  display: inline-block;
}
.octiconsearch-163,
.vector-icon23 {
  position: absolute;
  height: 48.84%;
  width: 4.45%;
  top: 25.58%;
  right: 92.58%;
  bottom: 25.58%;
  left: 2.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon23 {
  width: 4.32%;
  right: 2.88%;
  left: 92.79%;
  object-fit: contain;
}
.tm-kim-sn-phm2 {
  position: absolute;
  top: 169px;
  left: 278px;
  width: 555px;
  height: 43px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.group-child49 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 996px;
  height: 556px;
}
.thng-tin-sn2 {
  position: absolute;
  top: 23px;
  left: 372px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-steelblue-200);
  text-align: center;
  display: inline-block;
  width: 283px;
  height: 55px;
}
.luuuuuuuu-child1 {
  position: absolute;
  height: 100%;
  width: 95.64%;
  top: 0;
  right: 4.36%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-200);
}
.vector-icon24 {
  position: absolute;
  height: 64.35%;
  width: 12.31%;
  top: 17.83%;
  right: 79.83%;
  bottom: 17.83%;
  left: 7.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.chnh-sa15 {
  position: absolute;
  height: 67.83%;
  width: 75.47%;
  top: 14.35%;
  left: 24.53%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}
.luuuuuuuu3,
.luuuuuuuu4 {
  position: absolute;
  top: 446px;
  left: 623px;
  width: 117px;
  height: 46px;
  color: var(--color-white);
}
.luuuuuuuu4 {
  left: 793px;
}
.sa-hnh-nh-inner,
.vector-icon26 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sa-hnh-nh-inner {
  height: 100%;
  width: 84%;
  top: 0;
  right: 16%;
  left: 0;
  object-fit: cover;
}
.vector-icon26 {
  height: 17.42%;
  width: 9.08%;
  top: 82.58%;
  right: 0;
  left: 90.92%;
}
.sa-hnh-nh2 {
  position: absolute;
  top: 226px;
  left: 62px;
  width: 403px;
  height: 190px;
}
.sa-tt-sp-child49 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.sp000312 {
  position: absolute;
  width: 64.75%;
  top: 13.51%;
  left: 33.81%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
}
.sa-tt-sp-child50 {
  height: 54.05%;
  bottom: 32.43%;
  left: 33.81%;
  max-height: 100%;
  width: 0;
  object-fit: contain;
  opacity: 0;
}
.m-hng14,
.sa-tt-sp-child50,
.sa-tt-sp-child51 {
  position: absolute;
  top: 13.51%;
}
.sa-tt-sp-child51 {
  height: 54.05%;
  width: 64.75%;
  right: 1.44%;
  bottom: 32.43%;
  left: 33.81%;
  background-color: var(--color-white);
}
.m-hng14 {
  width: 38.59%;
  left: 1.2%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
}
.sa-tt-sp-child52 {
  position: absolute;
  height: 2.7%;
  width: 98.2%;
  top: 85.14%;
  right: 0.72%;
  bottom: 12.16%;
  left: 1.08%;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.sa-tt-sp13 {
  position: absolute;
  top: 123px;
  left: 58px;
  width: 417px;
  height: 37px;
}
.sa-tt-sp-child55,
.sp000218 {
  position: absolute;
  width: 64.75%;
  top: 13.51%;
  left: 33.81%;
  display: none;
}
.sa-tt-sp-child55 {
  height: 54.05%;
  right: 1.44%;
  bottom: 32.43%;
  background-color: var(--color-white);
}
.sp000218 {
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
}
.sa-tt-sp14,
.sa-tt-sp15,
.sa-tt-sp16,
.sa-tt-sp17,
.sa-tt-sp18 {
  position: absolute;
  top: 123px;
  left: 531px;
  width: 417px;
  height: 37px;
}
.sa-tt-sp15,
.sa-tt-sp16,
.sa-tt-sp17,
.sa-tt-sp18 {
  top: 171px;
}
.sa-tt-sp16,
.sa-tt-sp17,
.sa-tt-sp18 {
  top: 223px;
}
.sa-tt-sp17,
.sa-tt-sp18 {
  top: 270px;
}
.sa-tt-sp18 {
  top: 171px;
  left: 58px;
}
.vector-icon27,
.vector-icon28 {
  position: absolute;
  height: 29.73%;
  width: 4.08%;
  right: 58.51%;
  left: 37.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon27 {
  top: 51.35%;
  bottom: 18.92%;
  object-fit: contain;
}
.vector-icon28 {
  top: 10.81%;
  bottom: 59.46%;
}
.div40,
.m-hng20 {
  position: absolute;
  width: 12.47%;
  top: 24.32%;
  left: 44.36%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
}
.m-hng20 {
  width: 38.59%;
  left: 1.68%;
}
.thay-i-sl-child7 {
  position: absolute;
  height: 2.7%;
  width: 98.2%;
  top: 85.14%;
  right: 0.24%;
  bottom: 12.16%;
  left: 1.56%;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.thay-i-sl-child8 {
  height: 54.05%;
  bottom: 21.62%;
  left: 43.88%;
  max-height: 100%;
  width: 0;
  object-fit: contain;
  opacity: 0;
}
.div41,
.thay-i-sl-child8,
.thay-i-sl-child9 {
  position: absolute;
  top: 24.32%;
}
.thay-i-sl-child9 {
  height: 54.05%;
  width: 12.47%;
  right: 43.17%;
  bottom: 21.62%;
  left: 44.36%;
  background-color: var(--color-white);
}
.div41 {
  width: 47.48%;
  left: 44.84%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  opacity: 0;
}
.thay-i-sl2 {
  position: absolute;
  top: 321px;
  left: 531px;
  width: 417px;
  height: 37px;
}
.div43 {
  position: absolute;
  width: 49.64%;
  top: 24.32%;
  left: 44.84%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  opacity: 0;
}
.thay-i-gi2 {
  position: absolute;
  top: 375px;
  left: 531px;
  width: 417px;
  height: 37px;
}
.vn2 {
  position: absolute;
  width: 5.02%;
  top: 69.06%;
  left: 79.62%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
}
.rectangle-parent24 {
  position: absolute;
  top: 234px;
  left: 166px;
  width: 996px;
  height: 556px;
}
.chnh-sa-child4,
.xc-nhn-v-sp-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-200);
}
.chnh-sa-child4 {
  width: 95.64%;
  right: 4.36%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.span {
  white-space: pre-wrap;
}
.c2 {
  font-size: var(--font-size-xl);
}
.chnh-sa-txt-container {
  width: 100%;
}
.chnh-sa18 {
  position: absolute;
  height: 67.83%;
  width: 75.47%;
  top: 14.35%;
  left: 24.53%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.chnh-sa17,
.chnh-sa19 {
  position: absolute;
  height: 24.34%;
  width: 19.57%;
  top: 59.26%;
  right: 56.69%;
  bottom: 16.4%;
  left: 23.75%;
}
.chnh-sa19 {
  right: 27.59%;
  left: 52.84%;
  font-size: var(--font-size-xl);
}
.bn-chc-chn {
  position: absolute;
  top: 26.98%;
  left: 7.69%;
  font-size: var(--font-size-16xl);
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-white);
}
.xc-nhn-v-sp {
  position: absolute;
  top: 322px;
  left: 341px;
  width: 598px;
  height: 189px;
  color: var(--color-steelblue-200);
}
.sa-tt-sp-xc-nhn {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
