.group-child497 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-gainsboro);
  width: 1179px;
  height: 413px;
}
.cng-ty-tnhh38 {
  position: absolute;
  top: 71.5px;
  left: 638.3px;
  display: inline-block;
  width: 202.9px;
  height: 19.4px;
}
.div335,
.m-xut-hng9,
.nh-cung-cp27,
.thi-gian9,
.trng-thi21 {
  position: absolute;
  top: 72.5px;
  left: 364.8px;
  display: inline-block;
  width: 143.5px;
  height: 19.4px;
}
.m-xut-hng9,
.nh-cung-cp27,
.thi-gian9,
.trng-thi21 {
  top: 14.2px;
  left: 126px;
  width: 136.1px;
}
.nh-cung-cp27,
.thi-gian9,
.trng-thi21 {
  left: 364.8px;
  width: 87.9px;
}
.nh-cung-cp27,
.trng-thi21 {
  top: 18.3px;
  left: 638.3px;
  width: 132.4px;
}
.trng-thi21 {
  left: 966.2px;
  width: 96.5px;
}
.group-child498,
.group-child499 {
  position: absolute;
  top: 109.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1179px;
  height: 1px;
}
.group-child499 {
  top: 51.5px;
}
.check-child107 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.check110 {
  position: absolute;
  top: 70px;
  left: 44px;
  width: 23.5px;
  height: 18.4px;
}
.nhp-hng70,
.xh00015 {
  position: absolute;
  top: 72.5px;
  left: 126px;
  display: inline-block;
  width: 70.5px;
  height: 19.4px;
}
.nhp-hng70 {
  top: 76.6px;
  left: 966.2px;
  width: 133.6px;
}
.check111 {
  position: absolute;
  top: 128.7px;
  left: 44.3px;
  width: 23.5px;
  height: 18.4px;
}
.cng-ty-tnhh39,
.div336,
.nhp-hng71,
.xh00027 {
  position: absolute;
  top: 125.7px;
  left: 638.3px;
  display: inline-block;
  width: 186.8px;
  height: 19.4px;
}
.div336,
.nhp-hng71,
.xh00027 {
  left: 364.8px;
  width: 143.5px;
}
.nhp-hng71,
.xh00027 {
  top: 127.7px;
  left: 126px;
  width: 74.2px;
}
.nhp-hng71 {
  top: 125.7px;
  left: 966.2px;
  width: 133.6px;
}
.group-child500 {
  position: absolute;
  top: 195px;
  left: 365px;
  background-color: var(--color-gainsboro);
  width: 109px;
  height: 12px;
}
.rectangle-parent134 {
  position: absolute;
  top: 285px;
  right: 42px;
  width: 1179px;
  height: 413px;
}
.sau-khi-xa-xut-child,
.sau-khi-xa-xut-item {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sau-khi-xa-xut-child {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.sau-khi-xa-xut-item {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm-wrapper28,
.sn-phm36 {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  height: 30px;
}
.sn-phm36 {
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.sn-phm-wrapper28 {
  cursor: pointer;
}
.nhp-hng72 {
  top: 0;
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
}
.group-parent116,
.nhp-hng72,
.xut-hng47 {
  position: absolute;
  height: 30px;
}
.xut-hng47 {
  top: 0;
  left: 518px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-steelblue-200);
  display: inline-block;
  width: 159px;
  cursor: pointer;
}
.group-parent116 {
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.sau-khi-xa-xut-inner {
  position: absolute;
  top: 104px;
  left: 729px;
  max-height: 100%;
  width: 148px;
}
.xut-hng48 {
  position: absolute;
  top: 148px;
  left: 18px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  width: 217px;
  height: 55px;
}
.group-child501 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 137px;
  height: 43px;
}
.thm-mi16 {
  position: absolute;
  top: 12.4px;
  left: 48px;
  display: inline-block;
  width: 79px;
  height: 21.5px;
}
.icoutline-plus-icon40 {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 24px;
  height: 27.2px;
  overflow: hidden;
}
.rectangle-parent135 {
  position: absolute;
  top: 164px;
  left: 1102px;
  width: 137px;
  height: 43px;
  cursor: pointer;
}
.tm-kim-nhp-hng-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.theo-m-nhp9 {
  position: absolute;
  height: 48.84%;
  width: 37.15%;
  top: 25.58%;
  left: 8.7%;
  font-weight: 500;
  display: inline-block;
}
.octiconsearch-1631,
.vector-icon236 {
  position: absolute;
  height: 48.84%;
  top: 25.58%;
  bottom: 25.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.octiconsearch-1631 {
  width: 4.45%;
  right: 92.58%;
  left: 2.97%;
  cursor: pointer;
}
.vector-icon236 {
  width: 4.32%;
  right: 2.88%;
  left: 92.79%;
  object-fit: contain;
}
.tm-kim-nhp-hng7 {
  position: absolute;
  top: 169px;
  left: 278px;
  width: 555px;
  height: 43px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.carbonuser-avatar-filled-icon47 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung47 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon31 {
  position: absolute;
  top: 48px;
  left: 976px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.div337 {
  position: absolute;
  top: 6px;
  right: 1px;
  font-weight: 600;
  display: inline-block;
  width: 40px;
  height: 27px;
}
.rectangle-parent136 {
  width: 25.93%;
  right: 74.07%;
  left: 0;
}
.group-child503,
.rectangle-parent136,
.rectangle-parent137 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.group-child503 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-steelblue-300);
}
.rectangle-parent137 {
  width: 25.93%;
  right: 37.04%;
  left: 37.04%;
  color: var(--color-white);
}
.group-parent117,
.rectangle-parent138 {
  position: absolute;
  height: 100%;
  width: 25.93%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 74.07%;
}
.group-parent117 {
  height: 4.69%;
  width: 12.66%;
  top: 94.11%;
  right: 40.08%;
  bottom: 1.2%;
  left: 47.27%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray-200);
}
.sau-khi-xa-xut-child1 {
  position: absolute;
  height: 2.21%;
  width: 1.84%;
  top: 121.77%;
  right: 93.87%;
  bottom: -23.98%;
  left: 4.3%;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.cng-ty-tnhh40,
.div340,
.nh00028,
.nhp-hng73 {
  position: absolute;
  top: 1010px;
  left: 648.9px;
  display: inline-block;
  width: 186.8px;
  height: 19.4px;
}
.div340,
.nh00028,
.nhp-hng73 {
  left: 375.5px;
  width: 143.5px;
}
.nh00028,
.nhp-hng73 {
  top: 1012px;
  left: 136.7px;
  width: 74.2px;
}
.nhp-hng73 {
  top: 1010px;
  left: 976.8px;
  width: 133.6px;
}
.sau-khi-xa-xut {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
