.group-child59 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-gainsboro);
  width: 966px;
  height: 493px;
}
.c4,
.m-nhp-hng2,
.nh-cung-cp4,
.tn-sn-phm8,
.trng-thi4 {
  position: absolute;
  top: 81.8px;
  left: 512.6px;
  display: inline-block;
  width: 170.2px;
  height: 23.2px;
}
.m-nhp-hng2,
.nh-cung-cp4,
.tn-sn-phm8,
.trng-thi4 {
  top: 13.4px;
  left: 83px;
  width: 114.1px;
}
.nh-cung-cp4,
.tn-sn-phm8,
.trng-thi4 {
  top: 21px;
  left: 275px;
  width: 115px;
  height: 39px;
}
.nh-cung-cp4,
.trng-thi4 {
  top: 18.3px;
  left: 512.6px;
  width: 111px;
  height: 23.2px;
}
.trng-thi4 {
  left: 787.5px;
  width: 80.9px;
}
.group-child61 {
  position: absolute;
  top: 58.6px;
  left: 0;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 966px;
  height: 1px;
}
.check-child40 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.check43,
.check44,
.check45 {
  position: absolute;
  top: 150.1px;
  left: 14.5px;
  width: 19.7px;
  height: 22px;
}
.check44,
.check45 {
  top: 80.5px;
  left: 13.5px;
}
.check45 {
  top: 13.4px;
  left: 14.5px;
}
.group-child62 {
  position: absolute;
  top: 123.3px;
  left: 0;
  max-height: 100%;
  width: 966px;
}
.nhp-hng7,
.sp00016,
.sp000235 {
  position: absolute;
  top: 83px;
  left: 83px;
  display: inline-block;
  width: 59.1px;
  height: 23.2px;
}
.nhp-hng7,
.sp000235 {
  top: 148.9px;
  width: 62.3px;
}
.nhp-hng7 {
  top: 146.4px;
  left: 787.5px;
  width: 112.1px;
}
.thp-cy-vit6 {
  margin: 0;
}
.thp-cy-vit-container2 {
  position: absolute;
  top: 72px;
  left: 275px;
  font-weight: 300;
}
.rectangle-parent31 {
  position: absolute;
  top: 0;
  right: 0;
  width: 966px;
  height: 493px;
}
.group-child65 {
  position: absolute;
  top: 58.1px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 966px;
  height: 1px;
}
.group-child66 {
  position: absolute;
  top: 110px;
  left: 0;
  max-height: 100%;
  width: 966px;
}
.check46 {
  position: absolute;
  top: 0;
  right: 786.3px;
  width: 19.7px;
  height: 22px;
}
.div75,
.div76,
.sp000236,
.st-cun-phi21 {
  position: absolute;
  top: 5px;
  right: 679.7px;
  display: inline-block;
  width: 62.3px;
  height: 23.2px;
}
.div75,
.div76,
.st-cun-phi21 {
  top: 6px;
  right: 390px;
  font-weight: 300;
  width: 145px;
  height: 19px;
}
.div75,
.div76 {
  top: 4px;
  right: 0;
  width: 58px;
}
.div76 {
  right: 211px;
  width: 28px;
  height: 35px;
}
.check-parent21 {
  position: absolute;
  top: 16px;
  right: 124px;
  width: 806px;
  height: 39px;
}
.group-child67,
.group-parent12 {
  position: absolute;
  right: 0;
  width: 966px;
}
.group-child67 {
  top: 0;
  max-height: 100%;
}
.group-parent12 {
  top: 164px;
  height: 55px;
}
.m-sn-phm6,
.s-lng6,
.tn-sn-phm9 {
  position: absolute;
  top: 2px;
  left: 481px;
  display: inline-block;
  width: 90px;
  height: 19px;
}
.m-sn-phm6,
.tn-sn-phm9 {
  top: 0;
  left: 0;
  width: 114.1px;
  height: 23.2px;
}
.tn-sn-phm9 {
  top: 2px;
  left: 207px;
  width: 115px;
  height: 39px;
}
.n-gi9,
.s-lng-parent4 {
  position: absolute;
  height: 42px;
}
.n-gi9 {
  top: 0;
  left: 684px;
  display: inline-block;
  width: 115.7px;
}
.s-lng-parent4 {
  top: 21px;
  left: 99px;
  width: 799.7px;
}
.check47,
.sp00017 {
  position: absolute;
  top: 22px;
  left: 0;
  width: 19.7px;
  height: 22px;
}
.sp00017 {
  top: 28px;
  left: 64px;
  display: inline-block;
  width: 59.1px;
  height: 23.2px;
}
.div77,
.div78,
.thp-cy-vit7 {
  position: absolute;
  top: 0;
  left: 272px;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
  width: 180px;
  height: 45px;
}
.div77,
.div78 {
  top: 22px;
  left: 748px;
  width: 90px;
  height: 19px;
}
.div78 {
  top: 25px;
  left: 567px;
  width: 29px;
}
.check-parent22,
.check48 {
  position: absolute;
  top: 50px;
  left: 36px;
  width: 838px;
  height: 51.2px;
}
.check48 {
  top: 0;
  left: 0;
  width: 19.7px;
  height: 22px;
}
.div79,
.div80,
.sp000237,
.st-cun-phi22 {
  position: absolute;
  top: 5px;
  left: 64px;
  display: inline-block;
  width: 62.3px;
  height: 23.2px;
}
.div79,
.div80,
.st-cun-phi22 {
  top: 6px;
  left: 271px;
  font-weight: 300;
  width: 145px;
  height: 19px;
}
.div79,
.div80 {
  top: 4px;
  left: 748px;
  width: 58px;
}
.div80 {
  left: 567px;
  width: 28px;
  height: 35px;
}
.check-parent23 {
  position: absolute;
  top: 125px;
  left: 36px;
  width: 806px;
  height: 39px;
}
.group-parent11 {
  position: absolute;
  top: 277px;
  right: 37px;
  width: 966px;
  height: 493px;
  font-size: var(--font-size-base);
}
.sau-xc-nhn-xa-child,
.sau-xc-nhn-xa-item {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sau-xc-nhn-xa-child {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.sau-xc-nhn-xa-item {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm-wrapper3,
.sn-phm8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  height: 30px;
}
.sn-phm8 {
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.sn-phm-wrapper3 {
  color: var(--color-steelblue-200);
}
.nhp-hng8 {
  top: 0;
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
  cursor: pointer;
}
.group-parent13,
.nhp-hng8,
.xut-hng11 {
  position: absolute;
  height: 30px;
}
.xut-hng11 {
  top: 0;
  left: 518px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
  cursor: pointer;
}
.group-parent13 {
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.group-child68 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 137px;
  height: 43px;
}
.thm-mi7 {
  position: absolute;
  top: 12.4px;
  left: 48px;
  display: inline-block;
  width: 79px;
  height: 21.5px;
}
.icoutline-plus-icon7 {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 24px;
  height: 27.2px;
  overflow: hidden;
}
.rectangle-parent32 {
  position: absolute;
  top: 164px;
  left: 1102px;
  width: 137px;
  height: 43px;
  cursor: pointer;
  font-size: var(--font-size-base);
}
.sau-xc-nhn-xa-inner {
  position: absolute;
  top: 105px;
  left: 213px;
  max-height: 100%;
  width: 139px;
}
.sn-phm9 {
  position: absolute;
  top: 144px;
  left: 16px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  width: 199px;
  height: 55px;
}
.group-child69 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 178px;
  height: 148px;
}
.loi-hng3 {
  position: absolute;
  top: 8.2px;
  left: 12.8px;
  font-weight: 500;
  display: inline-block;
  width: 110.5px;
  height: 20.9px;
}
.group-wrapper17,
.rectangle-parent33 {
  position: absolute;
  top: 0;
  left: 0;
  width: 178px;
  height: 148px;
}
.group-wrapper17 {
  font-size: var(--font-size-xl);
}
.vl-c-bn3 {
  position: absolute;
  top: 0;
  left: 30px;
  display: inline-block;
  width: 88px;
  height: 21px;
}
.check-wrapper10,
.group-wrapper18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 18px;
}
.group-wrapper18 {
  top: 3px;
}
.vl-c-bn-container,
.vl-kt-cu3 {
  position: absolute;
  top: 42px;
  left: 13px;
  width: 118px;
  height: 21px;
}
.vl-kt-cu3 {
  top: 0;
  left: 30px;
  display: inline-block;
  width: 94px;
}
.vl-hon-thin3,
.vl-kt-cu-parent1 {
  position: absolute;
  top: 78px;
  left: 13px;
  width: 124px;
  height: 21px;
}
.vl-hon-thin3 {
  top: 0;
  left: 30px;
  display: inline-block;
  width: 123px;
}
.vl-hon-thin-parent1 {
  position: absolute;
  top: 114px;
  left: 13px;
  width: 153px;
  height: 21px;
}
.group-child70,
.group-parent14 {
  position: absolute;
  top: 339px;
  left: 53px;
  width: 178px;
  height: 148px;
}
.group-child70 {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  height: 116px;
}
.thp3 {
  position: absolute;
  top: 39px;
  left: 13px;
}
.cao3,
.div81,
.div82,
.mc-gi3 {
  position: absolute;
  top: 39px;
  left: 84px;
}
.cao3,
.div82,
.mc-gi3 {
  top: 79px;
}
.cao3,
.mc-gi3 {
  top: 39px;
  left: 123px;
}
.mc-gi3 {
  top: 8.2px;
  left: 12.8px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 110.5px;
  height: 20.9px;
}
.group-child71,
.group-child72 {
  position: absolute;
  top: 75px;
  left: 15px;
  background-color: var(--color-white);
  width: 62px;
  height: 25px;
}
.group-child72 {
  top: 74px;
  left: 100px;
}
.rectangle-parent34 {
  position: absolute;
  top: 540px;
  left: 53px;
  width: 178px;
  height: 116px;
}
.carbonuser-avatar-filled-icon7 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung7 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon6 {
  position: absolute;
  top: 48px;
  left: 976px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.tm-kim-sn-phm-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.tm-kim-sn3 {
  position: absolute;
  height: 48.84%;
  width: 37.15%;
  top: 25.58%;
  left: 8.7%;
  font-weight: 500;
  display: inline-block;
}
.octiconsearch-166,
.vector-icon45 {
  position: absolute;
  height: 48.84%;
  width: 4.45%;
  top: 25.58%;
  right: 92.58%;
  bottom: 25.58%;
  left: 2.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon45 {
  width: 4.32%;
  right: 2.88%;
  left: 92.79%;
  object-fit: contain;
}
.tm-kim-sn-phm3 {
  position: absolute;
  top: 169px;
  left: 278px;
  width: 555px;
  height: 43px;
  color: var(--color-dimgray-100);
}
.div83 {
  position: absolute;
  top: 6px;
  right: 1px;
  font-weight: 600;
  display: inline-block;
  width: 40px;
  height: 27px;
}
.group-child74,
.rectangle-parent35 {
  position: absolute;
  height: 100%;
  width: 18.92%;
  top: 0;
  right: 81.08%;
  bottom: 0;
  left: 0;
}
.group-child74 {
  width: 100%;
  right: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-steelblue-300);
}
.rectangle-parent36,
.rectangle-parent37 {
  position: absolute;
  height: 100%;
  width: 18.92%;
  top: 0;
  bottom: 0;
}
.rectangle-parent36 {
  right: 54.05%;
  left: 27.03%;
  color: var(--color-white);
}
.rectangle-parent37 {
  right: 27.03%;
  left: 54.05%;
  cursor: pointer;
}
.group-child76,
.group-parent15,
.rectangle-parent38 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.group-child76 {
  width: 100%;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  cursor: pointer;
}
.group-parent15,
.rectangle-parent38 {
  width: 18.92%;
  left: 81.08%;
}
.group-parent15 {
  height: 4.69%;
  width: 17.34%;
  top: 94.11%;
  right: 35.39%;
  bottom: 1.2%;
  left: 47.27%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray-200);
}
.sau-xc-nhn-xa {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
