.rectangle-476-11111 {
  position: absolute;
  top: 279px;
  right: 44px;
  background-color: var(--color-gainsboro);
  width: 966px;
  height: 491px;
}
.m-sn-phm20,
.n-gi65,
.s-lng39,
.tn-sn-phm28 {
  position: absolute;
  top: 2px;
  left: 481px;
  display: inline-block;
  width: 90px;
  height: 19px;
}
.m-sn-phm20,
.n-gi65,
.tn-sn-phm28 {
  top: 0;
  left: 0;
  width: 114.1px;
  height: 23.2px;
}
.n-gi65,
.tn-sn-phm28 {
  top: 2px;
  left: 207px;
  width: 115px;
  height: 39px;
}
.n-gi65 {
  top: 0;
  left: 684px;
  width: 115.7px;
  height: 42px;
}
.s-lng-parent18,
.sn-phm-1-child1 {
  position: absolute;
  top: 300px;
  left: 364px;
  width: 799.7px;
  height: 42px;
}
.sn-phm-1-child1 {
  top: 331.1px;
  left: 269.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 966px;
  height: 1px;
}
.sn-phm-1-child2 {
  position: absolute;
  top: 331px;
  left: 270px;
  width: 966px;
  height: 439px;
  overflow-y: auto;
}
.div542,
.sp0002146,
.st-cun-phi104 {
  position: absolute;
  top: 0.6px;
  right: 679.7px;
  display: inline-block;
  width: 62.3px;
  height: 13.1px;
}
.div542,
.st-cun-phi104 {
  top: 1.1px;
  right: 390px;
  width: 145px;
  height: 10.8px;
}
.div542 {
  top: 0;
  right: 0;
  width: 58px;
}
.div543,
.sp0002-parent19 {
  position: absolute;
  height: 19.8px;
}
.div543 {
  top: 0;
  right: 211px;
  display: inline-block;
  width: 28px;
}
.sp0002-parent19 {
  top: 22px;
  right: 126px;
  width: 742px;
}
.group-child702 {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 100%;
  width: 966px;
}
.check-child176 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.check179 {
  position: absolute;
  top: 22px;
  left: 36px;
  width: 19.7px;
  height: 22px;
}
.group-parent162,
.group-parent163,
.group-parent164 {
  position: absolute;
  top: 0;
  right: 0;
  width: 966px;
  height: 44px;
}
.group-parent163,
.group-parent164 {
  top: 59px;
}
.group-parent164 {
  top: 118px;
}
.group-parent165,
.group-parent166,
.group-parent167 {
  position: absolute;
  top: 177px;
  right: 0;
  width: 966px;
  height: 44px;
}
.group-parent166,
.group-parent167 {
  top: 236px;
}
.group-parent167 {
  top: 295px;
}
.group-child710,
.group-parent168,
.group-parent169 {
  position: absolute;
  top: 354px;
  right: 0;
  width: 966px;
  height: 44px;
}
.group-child710,
.group-parent169 {
  top: 413px;
}
.group-child710 {
  top: 0;
  height: 0;
}
.group-parent170,
.group-parent171,
.group-parent172 {
  position: absolute;
  top: 472px;
  right: 0;
  width: 966px;
  height: 44px;
}
.group-parent171,
.group-parent172 {
  top: 531px;
}
.group-parent172 {
  top: 590px;
}
.group-parent161,
.group-parent173,
.group-parent174 {
  position: absolute;
  top: 649px;
  right: 0;
  width: 966px;
  height: 44px;
}
.group-parent161,
.group-parent174 {
  top: 708px;
}
.group-parent161 {
  top: 0;
  height: 752px;
}
.sn-phm-1-inner1 {
  position: absolute;
  top: 331px;
  left: 271px;
  width: 966px;
  height: 439px;
  overflow-y: auto;
}
.sn-phm-1-child3,
.sn-phm-1-child4 {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sn-phm-1-child3 {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.sn-phm-1-child4 {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm-wrapper44,
.sn-phm58 {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  height: 30px;
}
.sn-phm58 {
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.sn-phm-wrapper44 {
  color: var(--color-steelblue-200);
}
.nhp-hng130 {
  top: 0;
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
  cursor: pointer;
}
.group-parent175,
.nhp-hng130,
.xut-hng69 {
  position: absolute;
  height: 30px;
}
.xut-hng69 {
  top: 0;
  left: 518px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
  cursor: pointer;
}
.group-parent175 {
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.group-child715 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 137px;
  height: 43px;
}
.thm-mi31 {
  position: absolute;
  top: 12.4px;
  left: 48px;
  display: inline-block;
  width: 79px;
  height: 21.5px;
}
.icoutline-plus-icon57 {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 24px;
  height: 27.2px;
  overflow: hidden;
}
.rectangle-parent232 {
  position: absolute;
  top: 164px;
  left: 1102px;
  width: 137px;
  height: 43px;
  cursor: pointer;
}
.sn-phm-1-child5 {
  position: absolute;
  top: 105px;
  left: 213px;
  max-height: 100%;
  width: 139px;
}
.sn-phm59 {
  position: absolute;
  top: 144px;
  left: 16px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  width: 199px;
  height: 55px;
}
.group-child716 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 191px;
  height: 143px;
}
.loi-hng18 {
  position: absolute;
  top: 7.9px;
  left: 13.7px;
  font-weight: 500;
  display: inline-block;
  width: 118.6px;
  height: 20.2px;
}
.check192 {
  position: absolute;
  top: 43px;
  left: 16px;
  width: 24px;
  height: 18px;
}
.group-wrapper47,
.rectangle-parent233 {
  position: absolute;
  top: 0;
  left: 0;
  width: 191px;
  height: 143px;
}
.group-wrapper47 {
  font-size: var(--font-size-xl);
}
.vl-c-bn-wrapper2,
.vl-c-bn18,
.vl-kt-cu12 {
  position: absolute;
  width: 109.3px;
  height: 20.3px;
}
.vl-c-bn18 {
  top: 0;
  left: 0;
  display: inline-block;
}
.vl-c-bn-wrapper2,
.vl-kt-cu12 {
  top: 40.6px;
  left: 53.4px;
}
.vl-kt-cu12 {
  top: 0;
  left: 37.3px;
  display: inline-block;
  width: 116.7px;
}
.check-wrapper31,
.group-wrapper48 {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.6px;
  height: 17.4px;
}
.group-wrapper48 {
  top: 2.9px;
}
.vl-hon-thin12,
.vl-kt-cu-parent9 {
  position: absolute;
  top: 75.4px;
  left: 16.1px;
  width: 154px;
  height: 20.3px;
}
.vl-hon-thin12 {
  top: 0;
  left: 37.3px;
  display: inline-block;
  width: 152.7px;
}
.group-parent176,
.vl-hon-thin-parent8 {
  position: absolute;
  top: 110.1px;
  left: 16.1px;
  width: 190px;
  height: 20.3px;
}
.group-parent176 {
  top: 356px;
  left: 60px;
  width: 206.1px;
  height: 143px;
  font-size: var(--font-size-lg);
}
.carbonuser-avatar-filled-icon68 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung66 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon48 {
  position: absolute;
  top: 50px;
  left: 974px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.div568 {
  position: absolute;
  top: 6px;
  right: 1px;
  font-weight: 600;
  display: inline-block;
  width: 40px;
  height: 27px;
}
.rectangle-parent234 {
  width: 18.92%;
  right: 81.08%;
  left: 0;
}
.group-child718,
.rectangle-parent234,
.rectangle-parent235 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.group-child718 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-steelblue-300);
}
.rectangle-parent235 {
  width: 18.92%;
  right: 54.05%;
  left: 27.03%;
  color: var(--color-white);
}
.group-child720,
.rectangle-parent236 {
  position: absolute;
  height: 100%;
  width: 18.92%;
  top: 0;
  right: 27.03%;
  bottom: 0;
  left: 54.05%;
  cursor: pointer;
}
.group-child720 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.group-parent177,
.rectangle-parent237 {
  position: absolute;
  height: 100%;
  width: 18.92%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 81.08%;
}
.group-parent177 {
  height: 4.69%;
  width: 17.34%;
  top: 94.11%;
  right: 35.39%;
  bottom: 1.2%;
  left: 47.27%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray-200);
}
.tm-kim-sn-phm-child11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.tm-kim-sn36 {
  position: absolute;
  height: 48.84%;
  width: 37.15%;
  top: 25.58%;
  left: 8.7%;
  font-weight: 500;
  display: inline-block;
}
.octiconsearch-1646,
.vector-icon420 {
  position: absolute;
  height: 48.84%;
  width: 4.45%;
  top: 25.58%;
  right: 92.58%;
  bottom: 25.58%;
  left: 2.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon420 {
  width: 4.32%;
  right: 2.88%;
  left: 92.79%;
  object-fit: contain;
}
.tm-kim-sn-phm14 {
  position: absolute;
  top: 169px;
  left: 278px;
  width: 555px;
  height: 43px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.group-child721 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 191px;
  height: 116px;
}
.div572,
.div573,
.thp12 {
  position: absolute;
  top: 39px;
  left: 18px;
  display: inline-block;
  width: 44.3px;
}
.div572,
.div573 {
  left: 95px;
  width: 10.8px;
}
.div573 {
  top: 75px;
}
.cao13 {
  top: 39px;
  left: 123px;
  width: 34.6px;
}
.cao13,
.mc-gi12,
.textinput10 {
  position: absolute;
  display: inline-block;
}
.mc-gi12 {
  top: 8px;
  left: 16px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  width: 119.4px;
  height: 20.9px;
}
.textinput10 {
  height: 67.86%;
  width: 92.39%;
  top: 17.86%;
  left: 5.49%;
}
.thaaps-child3 {
  position: absolute;
  height: 35.71%;
  width: 1.41%;
  top: 41.07%;
  right: 94.93%;
  bottom: 23.21%;
  left: 3.66%;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  opacity: 0;
}
.thaaps-child4 {
  position: absolute;
  height: 57.14%;
  width: 84.79%;
  top: 17.86%;
  right: 9.72%;
  bottom: 25%;
  left: 5.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.thaaps3 {
  position: absolute;
  top: 73px;
  left: 11px;
  width: 71px;
  height: 28px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.cao-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.textinput11 {
  position: absolute;
  height: 67.86%;
  width: 92.36%;
  top: 17.86%;
  left: 5.42%;
  display: inline-block;
}
.cao-item {
  position: absolute;
  height: 35.71%;
  width: 1.39%;
  top: 41.07%;
  right: 95%;
  bottom: 23.21%;
  left: 3.61%;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  opacity: 0;
}
.cao-inner {
  position: absolute;
  height: 57.14%;
  width: 84.72%;
  top: 17.86%;
  right: 9.86%;
  bottom: 25%;
  left: 5.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cao14 {
  position: absolute;
  top: 73px;
  left: 111px;
  width: 72px;
  height: 28px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.rectangle-parent238 {
  position: absolute;
  top: 553px;
  left: 60px;
  width: 191px;
  height: 116px;
  font-size: var(--font-size-lg);
}
.sn-phm-11 {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
