.check139 {
  position: absolute;
  top: 528px;
  left: 311px;
  width: 20px;
  height: 22px;
}
.sn-phm-2-child,
.sn-phm-2-item {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sn-phm-2-child {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.sn-phm-2-item {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm-wrapper37,
.sn-phm45 {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  height: 30px;
}
.sn-phm45 {
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.sn-phm-wrapper37 {
  color: var(--color-steelblue-200);
}
.nhp-hng121 {
  top: 0;
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
  cursor: pointer;
}
.group-parent136,
.nhp-hng121,
.xut-hng61 {
  position: absolute;
  height: 30px;
}
.xut-hng61 {
  top: 0;
  left: 518px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
  cursor: pointer;
}
.group-parent136 {
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.group-child602 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 137px;
  height: 43px;
}
.thm-mi25 {
  position: absolute;
  top: 12.4px;
  left: 48px;
  display: inline-block;
  width: 79px;
  height: 21.5px;
}
.icoutline-plus-icon49 {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 24px;
  height: 27.2px;
  overflow: hidden;
}
.rectangle-parent189 {
  position: absolute;
  top: 164px;
  left: 1102px;
  width: 137px;
  height: 43px;
  cursor: pointer;
}
.sn-phm-2-inner {
  position: absolute;
  top: 109.5px;
  left: 215px;
  max-height: 100%;
  width: 139px;
}
.sn-phm46 {
  position: absolute;
  top: 144px;
  left: 16px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  width: 199px;
  height: 55px;
}
.group-child603 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 178px;
  height: 148px;
}
.loi-hng12 {
  position: absolute;
  top: 8.2px;
  left: 12.8px;
  font-weight: 500;
  display: inline-block;
  width: 110.5px;
  height: 20.9px;
}
.check-sp-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-steelblue-400);
}
.vector-icon386 {
  position: absolute;
  height: 58.33%;
  width: 60.53%;
  top: 21.11%;
  right: 17.89%;
  bottom: 20.56%;
  left: 21.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.check-sp {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.check-spaaaa {
  position: absolute;
  top: 45px;
  left: 13px;
  width: 19px;
  height: 18px;
  cursor: pointer;
}
.check-sp-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.check-spaaaa1,
.check-spaaaa2 {
  position: absolute;
  top: 79px;
  left: 13px;
  width: 19px;
  height: 18px;
}
.check-spaaaa2 {
  top: 117px;
  cursor: pointer;
}
.group-wrapper29,
.rectangle-parent190 {
  position: absolute;
  top: 0;
  left: 0;
  width: 178px;
  height: 148px;
}
.group-wrapper29 {
  font-size: var(--font-size-xl);
}
.vl-c-bn-frame,
.vl-c-bn12,
.vl-kt-cu6 {
  position: absolute;
  width: 88px;
  height: 21px;
}
.vl-c-bn12 {
  top: 0;
  left: 0;
  display: inline-block;
}
.vl-c-bn-frame,
.vl-kt-cu6 {
  top: 42px;
  left: 43px;
}
.vl-kt-cu6 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 94px;
}
.vl-hon-thin6,
.vl-kt-cu-wrapper {
  position: absolute;
  top: 78px;
  left: 43px;
  width: 94px;
  height: 21px;
}
.vl-hon-thin6 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 123px;
}
.group-parent137,
.vl-hon-thin-wrapper {
  position: absolute;
  top: 114px;
  left: 43px;
  width: 123px;
  height: 21px;
}
.group-parent137 {
  top: 351px;
  left: 60px;
  width: 178px;
  height: 148px;
  font-size: var(--font-size-lg);
}
.group-child604 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 178px;
  height: 116px;
}
.thp6 {
  position: absolute;
  top: 39px;
  left: 13px;
}
.cao6,
.div468,
.div469,
.mc-gi6 {
  position: absolute;
  top: 39px;
  left: 84px;
}
.cao6,
.div469,
.mc-gi6 {
  top: 79px;
}
.cao6,
.mc-gi6 {
  top: 39px;
  left: 123px;
}
.mc-gi6 {
  top: 8.2px;
  left: 12.8px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 110.5px;
  height: 20.9px;
}
.rectangle-parent191 {
  position: absolute;
  top: 555px;
  left: 60px;
  width: 178px;
  height: 116px;
  font-size: var(--font-size-lg);
}
.carbonuser-avatar-filled-icon60 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung58 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon41 {
  position: absolute;
  top: 50px;
  left: 974px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.tm-kim-sn-phm-child5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.tm-kim-sn29 {
  position: absolute;
  height: 48.84%;
  width: 37.15%;
  top: 25.58%;
  left: 8.7%;
  font-weight: 500;
  display: inline-block;
}
.octiconsearch-1640,
.vector-icon387 {
  position: absolute;
  height: 48.84%;
  width: 4.45%;
  top: 25.58%;
  right: 92.58%;
  bottom: 25.58%;
  left: 2.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon387 {
  width: 4.32%;
  right: 2.88%;
  left: 92.79%;
  object-fit: contain;
}
.tm-kim-sn-phm8 {
  position: absolute;
  top: 169px;
  left: 278px;
  width: 555px;
  height: 43px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.sn-phm-2-child1 {
  position: absolute;
  top: 279px;
  right: 45px;
  background-color: var(--color-gainsboro);
  width: 966px;
  height: 491px;
}
.m-sn-phm9,
.s-lng27,
.tn-sn-phm14 {
  position: absolute;
  top: 2px;
  left: 481px;
  display: inline-block;
  width: 90px;
  height: 19px;
}
.m-sn-phm9,
.tn-sn-phm14 {
  top: 0;
  left: 0;
  width: 114.1px;
  height: 23.2px;
}
.tn-sn-phm14 {
  top: 2px;
  left: 207px;
  width: 115px;
  height: 39px;
}
.n-gi50,
.s-lng-parent7 {
  position: absolute;
  height: 42px;
}
.n-gi50 {
  top: 0;
  left: 684px;
  display: inline-block;
  width: 115.7px;
}
.s-lng-parent7 {
  top: 300px;
  left: 364px;
  width: 799.7px;
}
.div470,
.div471,
.sp0002124,
.st-cun-phi92 {
  position: absolute;
  top: 0.6px;
  right: 680.7px;
  display: inline-block;
  width: 62.3px;
  height: 13.1px;
}
.div470,
.div471,
.st-cun-phi92 {
  top: 1.1px;
  right: 391px;
  width: 145px;
  height: 10.8px;
}
.div470,
.div471 {
  top: 1px;
  right: 0;
  width: 58px;
}
.div471 {
  top: 0;
  right: 212px;
  width: 28px;
  height: 19.8px;
}
.sn-phm-2-child2,
.sp0002-parent16 {
  position: absolute;
  top: 345px;
  right: 171px;
  width: 743px;
  height: 19.8px;
}
.sn-phm-2-child2 {
  height: 2.6%;
  width: 1.54%;
  top: 40.49%;
  right: 74.55%;
  bottom: 56.91%;
  left: 23.91%;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.sn-phm-2-child3,
.sn-phm-2-child4 {
  position: absolute;
  top: 380.5px;
  left: 269.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 966px;
  height: 1px;
}
.sn-phm-2-child4 {
  top: 327.5px;
  left: 268.5px;
}
.div472,
.div473,
.sp000119,
.thp-cy-vit38 {
  position: absolute;
  top: 0;
  right: 679.7px;
  display: inline-block;
  width: 62.3px;
  height: 13.1px;
}
.div472,
.div473,
.thp-cy-vit38 {
  top: 0.4px;
  right: 345px;
  width: 191px;
  height: 11px;
}
.div472,
.div473 {
  top: 1.4px;
  right: 0;
  width: 58px;
  height: 10.8px;
}
.div473 {
  right: 212px;
  width: 28px;
  height: 19.8px;
}
.sn-phm-2-child5,
.sp0001-parent {
  position: absolute;
  top: 398.6px;
  right: 171px;
  width: 742px;
  height: 21.2px;
}
.sn-phm-2-child5 {
  height: 2.6%;
  width: 1.54%;
  top: 46.75%;
  right: 74.55%;
  bottom: 50.65%;
  left: 23.91%;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.sn-phm-2-child6,
.sn-phm-2-child7 {
  position: absolute;
  top: 634px;
  left: 72px;
  background-color: var(--color-white);
  width: 62px;
  height: 25px;
}
.sn-phm-2-child7 {
  top: 632px;
  left: 164px;
}
.sn-phm-2 {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/55sn-phm-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
