.check-child168,
.sn-phm2-child {
  position: absolute;
  top: 277px;
  right: 37px;
  background-color: var(--color-gainsboro);
  width: 966px;
  height: 493px;
}
.check-child168 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.check171 {
  position: absolute;
  top: 528px;
  left: 311px;
  width: 20px;
  height: 22px;
}
.sn-phm2-inner,
.sn-phm2-item {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sn-phm2-item {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.sn-phm2-inner {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm-wrapper43,
.sn-phm56 {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  height: 30px;
}
.sn-phm56 {
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.sn-phm-wrapper43 {
  color: var(--color-steelblue-200);
}
.nhp-hng129 {
  top: 0;
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
  cursor: pointer;
}
.group-parent157,
.nhp-hng129,
.xut-hng68 {
  position: absolute;
  height: 30px;
}
.xut-hng68 {
  top: 0;
  left: 518px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
  cursor: pointer;
}
.group-parent157 {
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.sn-phm2-child1 {
  position: absolute;
  top: 105px;
  left: 213px;
  max-height: 100%;
  width: 139px;
}
.sn-phm2-child2 {
  position: absolute;
  top: 335.1px;
  left: 276.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 966px;
  height: 1px;
}
.sn-phm2-child3 {
  position: absolute;
  top: 387px;
  left: 277px;
  max-height: 100%;
  width: 966px;
}
.div528,
.sp0002143,
.st-cun-phi101 {
  position: absolute;
  top: 0.6px;
  right: 679.7px;
  display: inline-block;
  width: 62.3px;
  height: 13.1px;
}
.div528,
.st-cun-phi101 {
  top: 1.1px;
  right: 390px;
  width: 145px;
  height: 10.8px;
}
.div528 {
  top: 0;
  right: 0;
  width: 58px;
}
.div529,
.sp0002-parent18 {
  position: absolute;
  height: 19.8px;
}
.div529 {
  top: 0;
  right: 211px;
  display: inline-block;
  width: 28px;
}
.sp0002-parent18 {
  top: 22px;
  right: 126px;
  width: 742px;
}
.group-child692 {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 100%;
  width: 966px;
}
.group-parent158 {
  position: absolute;
  top: 508px;
  right: 37px;
  width: 966px;
  height: 41.8px;
}
.m-sn-phm19,
.s-lng38,
.tn-sn-phm27 {
  position: absolute;
  top: 2px;
  left: 481px;
  display: inline-block;
  width: 90px;
  height: 19px;
}
.m-sn-phm19,
.tn-sn-phm27 {
  top: 0;
  left: 0;
  width: 114.1px;
  height: 23.2px;
}
.tn-sn-phm27 {
  top: 2px;
  left: 207px;
  width: 115px;
  height: 39px;
}
.n-gi64,
.s-lng-parent17 {
  position: absolute;
  height: 42px;
}
.n-gi64 {
  top: 0;
  left: 684px;
  display: inline-block;
  width: 115.7px;
}
.s-lng-parent17 {
  top: 298px;
  left: 376px;
  width: 799.7px;
}
.check172,
.sp000129 {
  position: absolute;
  top: 22px;
  left: 0;
  width: 19.7px;
  height: 22px;
}
.sp000129 {
  top: 28px;
  left: 64px;
  display: inline-block;
  width: 59.1px;
  height: 23.2px;
}
.div530,
.div531,
.thp-cy-vit48 {
  position: absolute;
  top: 0;
  left: 266px;
  display: flex;
  align-items: flex-end;
  width: 200px;
  height: 45px;
}
.div530,
.div531 {
  top: 22px;
  left: 748px;
  width: 90px;
  height: 19px;
}
.div531 {
  top: 25px;
  left: 567px;
  width: 29px;
}
.check-parent62 {
  position: absolute;
  top: 327px;
  left: 313px;
  width: 838px;
  height: 51.2px;
}
.check173,
.check174 {
  position: absolute;
  top: 0;
  left: 0;
  width: 19.7px;
  height: 22px;
}
.check174 {
  top: 128px;
}
.div532,
.div533,
.sp0002144,
.st-cun-phi102 {
  position: absolute;
  top: 4px;
  left: 63px;
  display: inline-block;
  width: 62.3px;
  height: 23.2px;
}
.div532,
.div533,
.st-cun-phi102 {
  top: 7px;
  left: 266px;
  width: 145px;
  height: 19px;
}
.div532,
.div533 {
  top: 4px;
  left: 748px;
  width: 58px;
}
.div533 {
  left: 567px;
  width: 28px;
  height: 35px;
}
.check-parent63,
.sn-phm57 {
  position: absolute;
  top: 402px;
  left: 313px;
  width: 806px;
  height: 150px;
}
.sn-phm57 {
  top: 144px;
  left: 16px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  width: 199px;
  height: 55px;
}
.group-child693 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 178px;
  height: 148px;
}
.loi-hng17 {
  position: absolute;
  top: 8.2px;
  left: 12.8px;
  font-weight: 500;
  display: inline-block;
  width: 110.5px;
  height: 20.9px;
}
.group-wrapper43,
.rectangle-parent225 {
  position: absolute;
  top: 0;
  left: 0;
  width: 178px;
  height: 148px;
}
.group-wrapper43 {
  font-size: var(--font-size-xl);
}
.vl-c-bn17 {
  position: absolute;
  top: 0;
  left: 30px;
  display: inline-block;
  width: 88px;
  height: 21px;
}
.check-wrapper28,
.group-wrapper44 {
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 18px;
}
.group-wrapper44 {
  top: 3px;
}
.vl-c-bn-parent6,
.vl-kt-cu11 {
  position: absolute;
  top: 42px;
  left: 13px;
  width: 118px;
  height: 21px;
}
.vl-kt-cu11 {
  top: 0;
  left: 30px;
  display: inline-block;
  width: 94px;
}
.vl-hon-thin11,
.vl-kt-cu-parent8 {
  position: absolute;
  top: 78px;
  left: 13px;
  width: 124px;
  height: 21px;
}
.vl-hon-thin11 {
  top: 0;
  left: 30px;
  display: inline-block;
  width: 123px;
}
.group-parent159,
.vl-hon-thin-parent7 {
  position: absolute;
  top: 114px;
  left: 13px;
  width: 153px;
  height: 21px;
}
.group-parent159 {
  top: 359px;
  left: 59px;
  width: 178px;
  height: 148px;
  font-size: var(--font-size-lg);
}
.group-child694 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 178px;
  height: 116px;
}
.thp11 {
  position: absolute;
  top: 39px;
  left: 13px;
}
.cao12,
.div534,
.div535,
.mc-gi11 {
  position: absolute;
  top: 39px;
  left: 84px;
}
.cao12,
.div535,
.mc-gi11 {
  top: 79px;
}
.cao12,
.mc-gi11 {
  top: 39px;
  left: 123px;
}
.mc-gi11 {
  top: 8.2px;
  left: 12.8px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 110.5px;
  height: 20.9px;
}
.group-child695,
.group-child696 {
  position: absolute;
  top: 75px;
  left: 15px;
  background-color: var(--color-white);
  width: 62px;
  height: 25px;
}
.group-child696 {
  top: 74px;
  left: 100px;
}
.rectangle-parent226 {
  position: absolute;
  top: 580px;
  left: 57px;
  width: 178px;
  height: 116px;
  font-size: var(--font-size-lg);
}
.tm-kim-sn-phm-child10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.tm-kim-sn35 {
  position: absolute;
  height: 48.84%;
  width: 37.15%;
  top: 25.58%;
  left: 8.7%;
  font-weight: 500;
  display: inline-block;
}
.octiconsearch-1645,
.vector-icon419 {
  position: absolute;
  height: 48.84%;
  width: 4.45%;
  top: 25.58%;
  right: 92.58%;
  bottom: 25.58%;
  left: 2.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon419 {
  width: 4.32%;
  right: 2.88%;
  left: 92.79%;
  object-fit: contain;
}
.tm-kim-sn-phm13 {
  position: absolute;
  top: 169px;
  left: 278px;
  width: 555px;
  height: 43px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.component-1-child5 {
  position: absolute;
  height: 2.04%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 97.96%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.check178 {
  position: absolute;
  height: 62.86%;
  width: 2.44%;
  top: 2.86%;
  right: 97.56%;
  bottom: 34.29%;
  left: 0;
}
.div536,
.div537,
.sp0002145,
.st-cun-phi103 {
  position: absolute;
  height: 66.29%;
  width: 7.7%;
  top: 2.86%;
  left: 7.91%;
  display: inline-block;
}
.div536,
.div537,
.st-cun-phi103 {
  height: 54.29%;
  width: 17.92%;
  left: 33.5%;
}
.div536,
.div537 {
  width: 7.17%;
  top: 17.14%;
  left: 92.83%;
}
.div537 {
  height: 100%;
  width: 3.46%;
  top: 0;
  left: 70.21%;
}
.check-parent64,
.component-17 {
  position: absolute;
  height: 71.43%;
  width: 83.75%;
  top: 28.57%;
  right: 12.84%;
  bottom: 0;
  left: 3.42%;
}
.component-17 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.click-sp3,
.group-child697 {
  position: absolute;
  top: 450px;
  left: 278px;
  width: 966px;
  height: 49px;
}
.group-child697 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 137px;
  height: 43px;
}
.thm-mi30 {
  position: absolute;
  top: 12.4px;
  left: 48px;
  display: inline-block;
  width: 79px;
  height: 21.5px;
}
.icoutline-plus-icon56 {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 24px;
  height: 27.2px;
  overflow: hidden;
}
.rectangle-parent227 {
  position: absolute;
  top: 164px;
  left: 1102px;
  width: 137px;
  height: 43px;
  cursor: pointer;
}
.carbonuser-avatar-filled-icon67 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung65 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon47 {
  position: absolute;
  top: 50px;
  left: 974px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.div538 {
  position: absolute;
  top: 6px;
  right: 1px;
  font-weight: 600;
  display: inline-block;
  width: 40px;
  height: 27px;
}
.rectangle-parent228 {
  position: absolute;
  height: 100%;
  width: 18.92%;
  top: 0;
  right: 81.08%;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.group-child699 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
}
.group-child699,
.group-child700,
.rectangle-parent229 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.rectangle-parent229 {
  width: 18.92%;
  right: 54.05%;
  left: 27.03%;
  cursor: pointer;
}
.group-child700 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-steelblue-300);
}
.group-child701,
.rectangle-parent230 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  cursor: pointer;
}
.rectangle-parent230 {
  width: 18.92%;
  right: 27.03%;
  left: 54.05%;
  color: var(--color-white);
}
.group-child701 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.group-parent160,
.rectangle-parent231 {
  position: absolute;
  height: 100%;
  width: 18.92%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 81.08%;
}
.group-parent160 {
  height: 4.69%;
  width: 17.34%;
  top: 94.11%;
  right: 35.39%;
  bottom: 1.2%;
  left: 47.27%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray-200);
}
.sn-phm210 {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
