.to-phiu-nhp2-child,
.to-phiu-nhp2-item {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.to-phiu-nhp2-child {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.to-phiu-nhp2-item {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm16 {
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
}
.sn-phm-wrapper8,
.sn-phm16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  height: 30px;
}
.nhp-hng16 {
  top: 0;
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-steelblue-200);
  display: inline-block;
  width: 159px;
}
.group-parent41,
.nhp-hng16,
.xut-hng17 {
  position: absolute;
  height: 30px;
}
.xut-hng17 {
  top: 0;
  left: 518px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
}
.group-parent41 {
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.to-phiu-nhp2-inner {
  position: absolute;
  top: 104px;
  left: 472px;
  max-height: 100%;
  width: 154px;
}
.nhp-hng17 {
  position: absolute;
  top: 0;
  left: 37px;
  font-weight: 600;
}
.vector-icon58 {
  position: absolute;
  height: 53.57%;
  width: 17.13%;
  top: 25%;
  right: 82.87%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.nhp-hng-group {
  position: absolute;
  top: 175px;
  left: 60px;
  width: 181px;
  height: 28px;
  font-size: var(--font-size-5xl);
}
.icoutline-plus-icon14 {
  position: absolute;
  top: 167px;
  left: 804px;
  width: 28px;
  height: 31px;
  overflow: hidden;
}
.group-child143 {
  position: absolute;
  top: 0;
  right: 12.2px;
  background-color: var(--color-white);
  width: 352.9px;
  height: 560px;
}
.carbonuser-avatar-filled-icon14 {
  position: absolute;
  top: 5.1px;
  left: 8.4px;
  width: 25.1px;
  height: 26.7px;
  overflow: hidden;
}
.group-child144 {
  position: absolute;
  top: 28.5px;
  left: 39.3px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 75px;
  height: 1px;
}
.qlnxtrung14 {
  position: absolute;
  top: 8px;
  left: 39.8px;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  width: 121px;
  height: 21px;
}
.group-child145 {
  position: absolute;
  top: 20.7px;
  left: 7.1px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 60.6px;
  height: 1px;
}
.div147 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  width: 88px;
  height: 19px;
}
.group-child146,
.line-parent2 {
  position: absolute;
  top: 7px;
  left: 224.8px;
  width: 88px;
  height: 20.7px;
}
.group-child146 {
  top: 20.5px;
  left: 0.9px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 31.7px;
  height: 1px;
}
.div148 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  width: 63.3px;
  height: 19.5px;
}
.ghi-ch2,
.line-parent3 {
  position: absolute;
  top: 7px;
  left: 301.8px;
  width: 63.3px;
  height: 20.5px;
}
.ghi-ch2 {
  top: 0;
  left: 22.9px;
  letter-spacing: -0.05em;
  line-height: 20px;
  display: inline-block;
  font-weight: 300;
  width: 146px;
  height: 21px;
}
.group-child147 {
  position: absolute;
  width: calc(100% + 1px);
  top: 22.6px;
  right: -1px;
  left: 0;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  height: 1px;
}
.group-child148 {
  position: absolute;
  height: 68.58%;
  width: 4.05%;
  top: 9.29%;
  right: 95.36%;
  bottom: 22.12%;
  left: 0.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ghi-ch-container {
  position: absolute;
  top: 328px;
  left: 14.9px;
  width: 321.2px;
  height: 22.6px;
  color: var(--color-gray-600);
}
.rectangle-parent59 {
  position: absolute;
  top: 228px;
  right: 25.7px;
  width: 365.1px;
  height: 560px;
}
.group-child149 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 830px;
  height: 58.1px;
}
.group-child150 {
  position: absolute;
  top: 58px;
  right: 0;
  background-color: var(--color-white);
  width: 829px;
  height: 502px;
}
.m-hng23,
.n-gi14,
.s-lng11,
.thnh-tin2,
.tn-hng2 {
  position: absolute;
  top: 22.4px;
  left: 565.8px;
  display: inline-block;
  width: 69.6px;
  height: 19.4px;
}
.m-hng23,
.n-gi14,
.thnh-tin2,
.tn-hng2 {
  left: 704.9px;
  width: 84.7px;
}
.m-hng23,
.n-gi14,
.tn-hng2 {
  left: 34.3px;
  width: 66.6px;
}
.n-gi14,
.tn-hng2 {
  top: 23px;
  left: 203px;
  width: 70.6px;
}
.n-gi14 {
  top: 22.4px;
  left: 430.6px;
  width: 59.5px;
}
.rectangle-parent60 {
  position: absolute;
  top: 228px;
  left: 60px;
  width: 830px;
  height: 560px;
}
.luuuuuuuu-child5 {
  position: absolute;
  height: 100%;
  width: 95.64%;
  top: 0;
  right: 4.36%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-200);
}
.vector-icon59 {
  position: absolute;
  height: 64.35%;
  width: 12.31%;
  top: 17.83%;
  right: 79.83%;
  bottom: 17.83%;
  left: 7.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.chnh-sa42 {
  position: absolute;
  height: 67.83%;
  width: 75.47%;
  top: 14.35%;
  left: 24.53%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}
.luuuuuuuu7 {
  position: absolute;
  top: 684px;
  left: 1091px;
  width: 117px;
  height: 46px;
  color: var(--color-white);
}
.carbonuser-avatar-filled-icon15 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung15 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon11 {
  position: absolute;
  top: 48px;
  left: 976px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.sp000260,
.st-cun-phi43 {
  position: absolute;
  top: 305px;
  right: 1122.7px;
  display: inline-block;
  width: 62.3px;
  height: 13.1px;
}
.st-cun-phi43 {
  top: 308px;
  right: 872px;
  width: 145px;
  height: 10.8px;
}
.to-phiu-nhp2-child1 {
  position: absolute;
  top: 339.5px;
  left: 60.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 829px;
  height: 1px;
}
.div149 {
  position: absolute;
  height: 57.89%;
  width: 91.8%;
  top: 0;
  left: 3.28%;
  display: inline-block;
}
.group-child151 {
  position: absolute;
  height: 5.26%;
  width: 101.64%;
  top: 97.37%;
  right: -0.82%;
  bottom: -2.63%;
  left: -0.82%;
  border-top: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.parent {
  position: absolute;
  height: 86.36%;
  width: 75.31%;
  top: 0;
  right: 0;
  bottom: 13.64%;
  left: 24.69%;
}
.vector-icon60,
.vector-icon61 {
  position: absolute;
  height: 36.36%;
  width: 16.05%;
  top: 13.64%;
  right: 83.95%;
  bottom: 50%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon61 {
  top: 63.64%;
  bottom: 0;
  object-fit: contain;
}
.tng-s-lng {
  position: absolute;
  top: 302px;
  left: 613px;
  width: 81px;
  height: 22px;
  text-align: center;
}
.div150 {
  position: absolute;
  height: 61.11%;
  width: 91.04%;
  top: 0;
  left: 8.96%;
  display: inline-block;
}
.tng-gi1-child {
  position: absolute;
  height: 5.56%;
  width: 92.54%;
  top: 97.22%;
  right: 8.21%;
  bottom: -2.78%;
  left: -0.75%;
  border-top: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.thnh-tin11,
.tng-gi1 {
  position: absolute;
  top: 304px;
  left: 491px;
  width: 67px;
  height: 18px;
}
.thnh-tin11 {
  top: 303px;
  left: 774px;
}
.tk-add-sp-phiu-nhp2-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.tm-kim-sn8,
.vector-icon62 {
  position: absolute;
  height: 48.84%;
}
.vector-icon62 {
  width: 4.32%;
  top: 27.91%;
  right: 2.7%;
  bottom: 23.26%;
  left: 92.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.tm-kim-sn8 {
  width: 37.15%;
  top: 25.58%;
  left: 10.63%;
  font-weight: 500;
  display: inline-block;
}
.vector-icon63 {
  position: absolute;
  height: 42.79%;
  width: 3.91%;
  top: 28.6%;
  right: 91.68%;
  bottom: 28.6%;
  left: 4.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tk-add-sp-phiu-nhp2 {
  position: absolute;
  top: 167px;
  left: 277px;
  width: 555px;
  height: 43px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.thm-sn-phm2 {
  position: absolute;
  top: 3px;
  left: 55px;
  letter-spacing: -0.05em;
  display: inline-block;
  font-weight: 300;
  width: 226.9px;
  height: 38.7px;
}
.icoutline-plus-icon15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 44px;
  overflow: hidden;
}
.thm-sn-phm-container {
  position: absolute;
  top: 519px;
  left: 304px;
  width: 281.9px;
  height: 44px;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-800);
}
.group-child152 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 352px;
  height: 60px;
}
.phiu-tm {
  position: absolute;
  top: 29px;
  left: 29.3px;
  display: inline-block;
  width: 314.8px;
}
.group-child153,
.vector-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 352px;
  height: 60px;
}
.group-child153 {
  top: 62px;
  left: 18.6px;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 315.1px;
  height: 1px;
}
.group-parent43,
.group-parent44,
.group-parent45 {
  position: absolute;
  top: 62px;
  left: 1px;
  width: 352px;
  height: 62px;
}
.group-parent44,
.group-parent45 {
  top: 0;
}
.group-parent45 {
  top: 124px;
  left: 0;
}
.tng-tin-hng {
  position: absolute;
  top: 10px;
  left: 26.4px;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray-300);
  display: inline-block;
  width: 177px;
}
.group-parent42,
.group-parent46 {
  position: absolute;
  top: 186px;
  left: 0;
  width: 352px;
  height: 62px;
}
.group-parent42 {
  top: 286px;
  left: 888px;
  width: 353px;
  height: 248px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}
.to-phiu-nhp2 {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
