.to-phiu-nhp-6-child,
.to-phiu-nhp-6-inner {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.to-phiu-nhp-6-child {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.to-phiu-nhp-6-inner {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm23 {
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.sn-phm-wrapper15,
.sn-phm23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  height: 30px;
}
.nhp-hng27,
.xut-hng26 {
  top: 0;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
}
.nhp-hng27 {
  position: absolute;
  left: 259px;
  color: var(--color-steelblue-300);
  height: 30px;
}
.xut-hng26 {
  left: 518px;
}
.group-parent79,
.nhp-hng28,
.xut-hng26 {
  position: absolute;
  height: 30px;
}
.group-parent79 {
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.nhp-hng28 {
  top: 0;
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-steelblue-200);
  display: inline-block;
  width: 159px;
}
.to-phiu-nhp-6-child2 {
  position: absolute;
  top: 104px;
  left: 472px;
  max-height: 100%;
  width: 154px;
}
.nhp-hng29 {
  position: absolute;
  top: 0;
  left: 37px;
  font-weight: 600;
}
.vector-icon104 {
  position: absolute;
  height: 53.57%;
  width: 17.13%;
  top: 25%;
  right: 82.87%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.nhp-hng-parent3 {
  position: absolute;
  top: 175px;
  left: 60px;
  width: 181px;
  height: 28px;
  font-size: var(--font-size-5xl);
}
.group-child268 {
  position: absolute;
  top: 0;
  right: 12.2px;
  background-color: var(--color-white);
  width: 352.9px;
  height: 560px;
}
.carbonuser-avatar-filled-icon28 {
  position: absolute;
  top: 5.1px;
  left: 18.6px;
  width: 25.1px;
  height: 26.7px;
  overflow: hidden;
}
.group-child269 {
  position: absolute;
  top: 28.5px;
  left: 49.5px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 75px;
  height: 1px;
}
.qlnxtrung28 {
  position: absolute;
  top: 8px;
  left: 50px;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  width: 121px;
  height: 21px;
}
.group-child270 {
  position: absolute;
  top: 20.7px;
  left: 7.1px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 60.6px;
  height: 1px;
}
.div201 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  width: 88px;
  height: 19px;
}
.group-child271,
.line-parent16 {
  position: absolute;
  top: 7px;
  left: 235px;
  width: 88px;
  height: 20.7px;
}
.group-child271 {
  top: 20.5px;
  left: 0.9px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 31.7px;
  height: 1px;
}
.div202 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  width: 63.3px;
  height: 19.5px;
}
.ghi-ch9,
.line-parent17 {
  position: absolute;
  top: 7px;
  left: 312px;
  width: 63.3px;
  height: 20.5px;
}
.ghi-ch9 {
  top: 0;
  left: 22.9px;
  letter-spacing: -0.05em;
  line-height: 20px;
  display: inline-block;
  font-weight: 300;
  width: 146px;
  height: 21px;
}
.group-child272 {
  position: absolute;
  width: calc(100% + 1px);
  top: 22.6px;
  right: -1px;
  left: 0;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  height: 1px;
}
.group-child273 {
  position: absolute;
  height: 68.58%;
  width: 4.05%;
  top: 9.29%;
  right: 95.36%;
  bottom: 22.12%;
  left: 0.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ghi-ch-parent7 {
  position: absolute;
  top: 328px;
  left: 25.1px;
  width: 321.2px;
  height: 22.6px;
  color: var(--color-gray-600);
}
.text-input-components-child49 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 360px;
  height: 60px;
}
.text-input39 {
  position: absolute;
  top: 29px;
  left: 34px;
  display: inline-block;
  width: 318px;
}
.text-input-components-child50 {
  position: absolute;
  top: 30px;
  left: 26.5px;
  width: 0;
  height: 20px;
  object-fit: contain;
  opacity: 0;
}
.text-input-components-child51 {
  position: absolute;
  top: 23px;
  left: 32px;
  width: 270px;
  height: 32px;
}
.text-field39 {
  position: absolute;
  top: 18px;
  left: 27px;
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 314px;
}
.text-input-components18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 372.4px;
  height: 60px;
  overflow: hidden;
}
.group-child274 {
  position: absolute;
  top: 55px;
  left: 25px;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 322.2px;
  height: 1px;
}
.text-input-components-parent14,
.text-input-components-parent15 {
  position: absolute;
  top: 127px;
  left: 0;
  width: 372.4px;
  height: 60px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}
.text-input-components-parent15 {
  top: 183px;
}
.group-child276 {
  position: absolute;
  top: 55px;
  left: 27px;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 322.2px;
  height: 1px;
}
.text-input-components-parent16 {
  position: absolute;
  top: 243px;
  left: 0;
  width: 372.4px;
  height: 60px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}
.rectangle-parent73 {
  position: absolute;
  top: 228px;
  right: 25.7px;
  width: 375.3px;
  height: 560px;
}
.group-child277 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 830px;
  height: 58.1px;
}
.group-child278 {
  position: absolute;
  top: 58px;
  right: 0;
  background-color: var(--color-white);
  width: 829px;
  height: 502px;
}
.m-hng30,
.n-gi21,
.s-lng18,
.thnh-tin9,
.tn-hng9 {
  position: absolute;
  top: 22.4px;
  left: 565.8px;
  display: inline-block;
  width: 69.6px;
  height: 19.4px;
}
.m-hng30,
.n-gi21,
.thnh-tin9,
.tn-hng9 {
  left: 704.9px;
  width: 84.7px;
}
.m-hng30,
.n-gi21,
.tn-hng9 {
  left: 34.3px;
  width: 66.6px;
}
.n-gi21,
.tn-hng9 {
  top: 22px;
  left: 194px;
  width: 70.6px;
}
.n-gi21 {
  top: 22.4px;
  left: 430.6px;
  width: 59.5px;
}
.rectangle-parent74 {
  position: absolute;
  top: 228px;
  left: 60px;
  width: 830px;
  height: 560px;
}
.luuuuuuuu-child11 {
  position: absolute;
  height: 100%;
  width: 95.64%;
  top: 0;
  right: 4.36%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-200);
}
.vector-icon106 {
  position: absolute;
  height: 64.35%;
  width: 12.31%;
  top: 17.83%;
  right: 79.83%;
  bottom: 17.83%;
  left: 7.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.chnh-sa48 {
  position: absolute;
  height: 67.83%;
  width: 75.47%;
  top: 14.35%;
  left: 24.53%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}
.luuuuuuuu13 {
  position: absolute;
  top: 684px;
  left: 1091px;
  width: 117px;
  height: 46px;
  color: var(--color-white);
}
.carbonuser-avatar-filled-icon29 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung29 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon18 {
  position: absolute;
  top: 48px;
  left: 976px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.en-hu,
.sp000271,
.sp000273,
.sp000318,
.st-cun-phi50,
.thp-cy-vit16 {
  position: absolute;
  top: 305px;
  right: 1122.7px;
  display: inline-block;
  width: 62.3px;
  height: 13.1px;
}
.en-hu,
.sp000273,
.sp000318,
.st-cun-phi50,
.thp-cy-vit16 {
  top: 360px;
}
.en-hu,
.sp000318,
.st-cun-phi50,
.thp-cy-vit16 {
  top: 405px;
  right: 1123.7px;
}
.en-hu,
.st-cun-phi50,
.thp-cy-vit16 {
  top: 308px;
  right: 881px;
  width: 145px;
  height: 10.8px;
}
.en-hu,
.thp-cy-vit16 {
  top: 359px;
  right: 800px;
  width: 226px;
  height: 11px;
}
.en-hu {
  top: 404px;
  right: 801px;
}
.to-phiu-nhp-6-child4,
.to-phiu-nhp-6-child6,
.to-phiu-nhp-6-child8 {
  position: absolute;
  top: 339.5px;
  left: 60.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 829px;
  height: 1px;
}
.to-phiu-nhp-6-child6,
.to-phiu-nhp-6-child8 {
  top: 394.5px;
}
.to-phiu-nhp-6-child8 {
  top: 439.5px;
  left: 59.5px;
}
.div203 {
  position: absolute;
  height: 57.89%;
  width: 91.8%;
  top: 0;
  left: 3.28%;
  display: inline-block;
}
.group-child281 {
  position: absolute;
  height: 5.26%;
  width: 101.64%;
  top: 97.37%;
  right: -0.82%;
  bottom: -2.63%;
  left: -0.82%;
  border-top: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.parent9 {
  position: absolute;
  height: 86.36%;
  width: 75.31%;
  top: 0;
  right: 0;
  bottom: 13.64%;
  left: 24.69%;
}
.vector-icon108,
.vector-icon109 {
  position: absolute;
  height: 36.36%;
  width: 16.05%;
  top: 13.64%;
  right: 83.95%;
  bottom: 50%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon109 {
  top: 63.64%;
  bottom: 0;
  object-fit: contain;
}
.tng-s-lng11,
.tng-s-lng13,
.tng-s-lng15 {
  position: absolute;
  top: 302px;
  left: 613px;
  width: 81px;
  height: 22px;
  text-align: center;
}
.tng-s-lng13,
.tng-s-lng15 {
  top: 356px;
}
.tng-s-lng15 {
  top: 401px;
}
.div208 {
  position: absolute;
  height: 61.11%;
  width: 91.04%;
  top: 0;
  left: 8.96%;
  display: inline-block;
}
.tng-gi1-child5 {
  position: absolute;
  height: 5.56%;
  width: 92.54%;
  top: 97.22%;
  right: 8.21%;
  bottom: -2.78%;
  left: -0.75%;
  border-top: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.div212,
.thnh-tin18,
.tng-gi17 {
  position: absolute;
  top: 304px;
  left: 491px;
  width: 67px;
  height: 18px;
}
.div212,
.thnh-tin18 {
  top: 303px;
  left: 774px;
}
.div212 {
  height: 61.11%;
  width: 91.04%;
  top: 0;
  left: 0;
  display: inline-block;
}
.div217,
.thnh-tin25,
.tng-gi24,
.tng-gi26 {
  position: absolute;
  top: 359px;
  left: 493px;
  width: 67px;
  height: 18px;
}
.div217,
.thnh-tin25,
.tng-gi26 {
  top: 404px;
  left: 492px;
}
.div217,
.thnh-tin25 {
  top: 357px;
  left: 774px;
}
.div217 {
  height: 61.11%;
  width: 91.04%;
  top: 0;
  left: 0;
  white-space: pre-wrap;
  display: inline-block;
}
.thm-sn-phm9,
.thnh-tin27 {
  position: absolute;
  top: 402px;
  left: 773px;
  width: 67px;
  height: 18px;
}
.thm-sn-phm9 {
  top: 3px;
  left: 55px;
  letter-spacing: -0.05em;
  display: inline-block;
  font-weight: 300;
  width: 226.9px;
  height: 38.7px;
}
.icoutline-plus-icon24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 44px;
  overflow: hidden;
}
.thm-sn-phm-parent7 {
  position: absolute;
  top: 519px;
  left: 304px;
  width: 281.9px;
  height: 44px;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-800);
}
.tm-kim-sn-phm-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.tm-kim-sn14 {
  position: absolute;
  height: 48.84%;
  width: 37.15%;
  top: 25.58%;
  left: 8.7%;
  font-weight: 500;
  display: inline-block;
}
.octiconsearch-169,
.vector-icon118 {
  position: absolute;
  height: 48.84%;
  width: 4.45%;
  top: 25.58%;
  right: 92.58%;
  bottom: 25.58%;
  left: 2.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon118 {
  width: 4.32%;
  right: 2.88%;
  left: 92.79%;
  object-fit: contain;
}
.tm-kim-sn-phm6 {
  position: absolute;
  top: 160px;
  left: 254px;
  width: 555px;
  height: 43px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.group-child286 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 352px;
  height: 60px;
}
.phiu-tm5,
.trng-thi12 {
  position: absolute;
  top: 29px;
  left: 29.3px;
  display: inline-block;
  width: 314.8px;
}
.trng-thi12 {
  top: 10px;
  left: 26.4px;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray-300);
  width: 177px;
}
.group-child287,
.vector-parent25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 352px;
  height: 60px;
}
.group-child287 {
  top: 62px;
  left: 18.6px;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 315.1px;
  height: 1px;
}
.group-parent82,
.group-parent83 {
  position: absolute;
  top: 62px;
  left: 1px;
  width: 352px;
  height: 62px;
}
.group-parent83 {
  top: 0;
}
.group-parent81,
.group-parent84,
.group-parent85 {
  position: absolute;
  top: 124px;
  left: 0;
  width: 352px;
  height: 62px;
}
.group-parent81,
.group-parent85 {
  top: 186px;
}
.group-parent81 {
  top: 278px;
  left: 890px;
  width: 353px;
  height: 248px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}
.to-phiu-nhp-6 {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
