.to-phiu-nhp-4-child,
.to-phiu-nhp-4-item {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.to-phiu-nhp-4-child {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.to-phiu-nhp-4-item {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm25 {
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.sn-phm-wrapper17,
.sn-phm25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  height: 30px;
}
.nhp-hng31 {
  top: 0;
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-steelblue-200);
  display: inline-block;
  width: 159px;
}
.group-parent86,
.nhp-hng31,
.xut-hng28 {
  position: absolute;
  height: 30px;
}
.xut-hng28 {
  top: 0;
  left: 518px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
}
.group-parent86 {
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.to-phiu-nhp-4-inner {
  position: absolute;
  top: 104px;
  left: 472px;
  max-height: 100%;
  width: 154px;
}
.nhp-hng32 {
  position: absolute;
  top: 0;
  left: 37px;
  font-weight: 600;
}
.vector-icon119 {
  position: absolute;
  height: 53.57%;
  width: 17.13%;
  top: 25%;
  right: 82.87%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.nhp-hng-parent5 {
  position: absolute;
  top: 175px;
  left: 60px;
  width: 181px;
  height: 28px;
  font-size: var(--font-size-5xl);
}
.group-child294 {
  position: absolute;
  top: 0;
  right: 12.2px;
  background-color: var(--color-white);
  width: 352.9px;
  height: 560px;
}
.carbonuser-avatar-filled-icon31 {
  position: absolute;
  top: 5.1px;
  left: 18.6px;
  width: 25.1px;
  height: 26.7px;
  overflow: hidden;
}
.group-child295 {
  position: absolute;
  top: 28.5px;
  left: 49.5px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 75px;
  height: 1px;
}
.qlnxtrung31 {
  position: absolute;
  top: 8px;
  left: 50px;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  width: 121px;
  height: 21px;
}
.group-child296 {
  position: absolute;
  top: 20.7px;
  left: 7.1px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 60.6px;
  height: 1px;
}
.div219 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  width: 88px;
  height: 19px;
}
.group-child297,
.line-parent18 {
  position: absolute;
  top: 7px;
  left: 235px;
  width: 88px;
  height: 20.7px;
}
.group-child297 {
  top: 20.5px;
  left: 0.9px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 31.7px;
  height: 1px;
}
.div220 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  width: 63.3px;
  height: 19.5px;
}
.ghi-ch10,
.line-parent19 {
  position: absolute;
  top: 7px;
  left: 312px;
  width: 63.3px;
  height: 20.5px;
}
.ghi-ch10 {
  top: 0;
  left: 22.9px;
  letter-spacing: -0.05em;
  line-height: 20px;
  display: inline-block;
  font-weight: 300;
  width: 146px;
  height: 21px;
}
.group-child298 {
  position: absolute;
  width: calc(100% + 1px);
  top: 22.6px;
  right: -1px;
  left: 0;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  height: 1px;
}
.group-child299 {
  position: absolute;
  height: 68.58%;
  width: 4.05%;
  top: 9.29%;
  right: 95.36%;
  bottom: 22.12%;
  left: 0.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ghi-ch-parent8 {
  position: absolute;
  top: 328px;
  left: 25.1px;
  width: 321.2px;
  height: 22.6px;
  color: var(--color-gray-600);
}
.text-input-components-child58 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 360px;
  height: 60px;
}
.text-input42 {
  position: absolute;
  top: 29px;
  left: 34px;
  display: inline-block;
  width: 318px;
}
.text-input-components-child59 {
  position: absolute;
  top: 30px;
  left: 26.5px;
  width: 0;
  height: 20px;
  object-fit: contain;
  opacity: 0;
}
.text-input-components-child60 {
  position: absolute;
  top: 23px;
  left: 32px;
  width: 270px;
  height: 32px;
}
.text-field42 {
  position: absolute;
  top: 18px;
  left: 27px;
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 314px;
}
.text-input-components21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 372.4px;
  height: 60px;
  overflow: hidden;
}
.group-child300 {
  position: absolute;
  top: 55px;
  left: 25px;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 322.2px;
  height: 1px;
}
.text-input-components-parent17,
.text-input-components-parent18 {
  position: absolute;
  top: 127px;
  left: 0;
  width: 372.4px;
  height: 60px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}
.text-input-components-parent18 {
  top: 183px;
}
.group-child302 {
  position: absolute;
  top: 55px;
  left: 27px;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 322.2px;
  height: 1px;
}
.text-input-components-parent19 {
  position: absolute;
  top: 243px;
  left: 0;
  width: 372.4px;
  height: 60px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}
.rectangle-parent76 {
  position: absolute;
  top: 228px;
  right: 25.7px;
  width: 375.3px;
  height: 560px;
}
.group-child303 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 830px;
  height: 58.1px;
}
.group-child304 {
  position: absolute;
  top: 58px;
  right: 0;
  background-color: var(--color-white);
  width: 829px;
  height: 502px;
}
.m-hng32,
.n-gi23,
.s-lng20,
.thnh-tin20,
.tn-hng11 {
  position: absolute;
  top: 22.4px;
  left: 565.8px;
  display: inline-block;
  width: 69.6px;
  height: 19.4px;
}
.m-hng32,
.n-gi23,
.thnh-tin20,
.tn-hng11 {
  left: 704.9px;
  width: 84.7px;
}
.m-hng32,
.n-gi23,
.tn-hng11 {
  left: 34.3px;
  width: 66.6px;
}
.n-gi23,
.tn-hng11 {
  top: 22px;
  left: 194px;
  width: 70.6px;
}
.n-gi23 {
  top: 22.4px;
  left: 430.6px;
  width: 59.5px;
}
.rectangle-parent77 {
  position: absolute;
  top: 228px;
  left: 60px;
  width: 830px;
  height: 560px;
}
.luuuuuuuu-child13 {
  position: absolute;
  height: 100%;
  width: 95.64%;
  top: 0;
  right: 4.36%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-200);
}
.vector-icon120 {
  position: absolute;
  height: 64.35%;
  width: 12.31%;
  top: 17.83%;
  right: 79.83%;
  bottom: 17.83%;
  left: 7.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.chnh-sa50 {
  position: absolute;
  height: 67.83%;
  width: 75.47%;
  top: 14.35%;
  left: 24.53%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}
.luuuuuuuu15 {
  position: absolute;
  top: 684px;
  left: 1091px;
  width: 117px;
  height: 46px;
  color: var(--color-white);
}
.carbonuser-avatar-filled-icon32 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung32 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon20 {
  position: absolute;
  top: 48px;
  left: 976px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.sp000275,
.sp000276,
.st-cun-phi52,
.thp-cy-vit18 {
  position: absolute;
  top: 305px;
  right: 1122.7px;
  display: inline-block;
  width: 62.3px;
  height: 13.1px;
}
.sp000276,
.st-cun-phi52,
.thp-cy-vit18 {
  top: 360px;
}
.st-cun-phi52,
.thp-cy-vit18 {
  top: 308px;
  right: 881px;
  width: 145px;
  height: 10.8px;
}
.thp-cy-vit18 {
  top: 359px;
  right: 800px;
  width: 226px;
  height: 11px;
}
.to-phiu-nhp-4-child1,
.to-phiu-nhp-4-child2 {
  position: absolute;
  top: 339.5px;
  left: 60.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 829px;
  height: 1px;
}
.to-phiu-nhp-4-child2 {
  top: 394.5px;
}
.div221 {
  position: absolute;
  height: 57.89%;
  width: 91.8%;
  top: 0;
  left: 3.28%;
  display: inline-block;
}
.group-child305 {
  position: absolute;
  height: 5.26%;
  width: 101.64%;
  top: 97.37%;
  right: -0.82%;
  bottom: -2.63%;
  left: -0.82%;
  border-top: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.parent14 {
  position: absolute;
  height: 86.36%;
  width: 75.31%;
  top: 0;
  right: 0;
  bottom: 13.64%;
  left: 24.69%;
}
.vector-icon121,
.vector-icon122 {
  position: absolute;
  height: 36.36%;
  width: 16.05%;
  top: 13.64%;
  right: 83.95%;
  bottom: 50%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon122 {
  top: 63.64%;
  bottom: 0;
  object-fit: contain;
}
.tng-s-lng16,
.tng-s-lng17 {
  position: absolute;
  top: 302px;
  left: 613px;
  width: 81px;
  height: 22px;
  text-align: center;
}
.tng-s-lng17 {
  top: 356px;
}
.div223 {
  position: absolute;
  height: 61.11%;
  width: 91.04%;
  top: 0;
  left: 8.96%;
  display: inline-block;
}
.tng-gi1-child7 {
  position: absolute;
  height: 5.56%;
  width: 92.54%;
  top: 97.22%;
  right: 8.21%;
  bottom: -2.78%;
  left: -0.75%;
  border-top: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.div225,
.thnh-tin110,
.tng-gi19 {
  position: absolute;
  top: 304px;
  left: 491px;
  width: 67px;
  height: 18px;
}
.div225,
.thnh-tin110 {
  top: 303px;
  left: 774px;
}
.div225 {
  height: 61.11%;
  width: 91.04%;
  top: 0;
  left: 0;
  display: inline-block;
}
.group-child307,
.thnh-tin28,
.tng-gi27 {
  position: absolute;
  top: 359px;
  left: 493px;
  width: 67px;
  height: 18px;
}
.group-child307,
.thnh-tin28 {
  top: 357px;
  left: 774px;
}
.group-child307 {
  top: 54.5px;
  left: 24.5px;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 322.2px;
  height: 1px;
}
.text-input-components-parent20 {
  position: absolute;
  top: 294px;
  left: 881px;
  width: 372.4px;
  height: 60px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}
.thm-sn-phmaaaaaaaaaaaaa {
  position: absolute;
  top: 3px;
  left: 55px;
  letter-spacing: -0.05em;
  display: inline-block;
  font-weight: 300;
  width: 226.9px;
  height: 38.7px;
}
.icoutline-plus-icon26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 44px;
  overflow: hidden;
}
.thm-sn-phmaaaaaaaaaaaaa-parent {
  position: absolute;
  top: 519px;
  left: 304px;
  width: 281.9px;
  height: 44px;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-800);
}
.tm-kim-khng-thy-sn-phm-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.tm-kim-sn15,
.vector-icon125 {
  position: absolute;
  height: 48.84%;
}
.vector-icon125 {
  width: 4.32%;
  top: 27.91%;
  right: 2.7%;
  bottom: 23.26%;
  left: 92.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.tm-kim-sn15 {
  width: 37.15%;
  top: 25.58%;
  left: 10.63%;
  font-weight: 500;
  display: inline-block;
}
.vector-icon126 {
  position: absolute;
  height: 42.79%;
  width: 3.91%;
  top: 28.6%;
  right: 91.68%;
  bottom: 28.6%;
  left: 4.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tm-kim-khng-thy-sn-phm3 {
  position: absolute;
  top: 167px;
  left: 277px;
  width: 555px;
  height: 43px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.component-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -0.5%;
  bottom: 0;
  left: 0.5%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.sa-hnh-nh-en-child,
.vector-icon127 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sa-hnh-nh-en-child {
  height: 100%;
  width: 83.99%;
  top: 0;
  right: 16.01%;
  left: 0;
  object-fit: cover;
  opacity: 0;
}
.vector-icon127 {
  height: 17.43%;
  width: 9.1%;
  top: 82.57%;
  right: 0;
  left: 90.9%;
}
.sa-hnh-nh-en {
  position: absolute;
  height: 32.91%;
  width: 37.75%;
  top: 44.24%;
  right: 55.42%;
  bottom: 22.84%;
  left: 6.83%;
}
.rectangle-parent78,
.to-sn-phm {
  position: absolute;
  top: 0;
  left: 0;
  width: 996px;
  height: 556px;
}
.to-sn-phm {
  top: 23px;
  left: 372px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-steelblue-200);
  text-align: center;
  display: inline-block;
  width: 283px;
  height: 55px;
}
.luuuuuuuu16,
.luuuuuuuu17 {
  position: absolute;
  top: 446px;
  left: 623px;
  width: 117px;
  height: 46px;
  color: var(--color-white);
}
.luuuuuuuu17 {
  left: 793px;
}
.sa-tt-sp-child73 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.sp000319 {
  position: absolute;
  width: 64.75%;
  top: 13.51%;
  left: 33.81%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
}
.sa-tt-sp-child74,
.sa-tt-sp-child75 {
  position: absolute;
  height: 54.05%;
  top: 13.51%;
  bottom: 32.43%;
  left: 33.81%;
}
.sa-tt-sp-child74 {
  max-height: 100%;
  width: 0;
  object-fit: contain;
  opacity: 0;
}
.sa-tt-sp-child75 {
  width: 64.75%;
  right: 1.44%;
  background-color: var(--color-white);
}
.m-hng33,
.sp000277 {
  position: absolute;
  top: 13.51%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
}
.sp000277 {
  width: 64.75%;
  left: 33.81%;
  opacity: 0;
}
.m-hng33 {
  width: 38.59%;
  left: 1.2%;
}
.sa-tt-sp-child76 {
  position: absolute;
  height: 2.7%;
  width: 98.2%;
  top: 85.14%;
  right: 0.72%;
  bottom: 12.16%;
  left: 1.08%;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.sa-tt-sp19 {
  position: absolute;
  top: 123px;
  left: 58px;
  width: 417px;
  height: 37px;
}
.sa-tt-sp20,
.sa-tt-sp21,
.sa-tt-sp22,
.sa-tt-sp23,
.sa-tt-sp24 {
  position: absolute;
  top: 123px;
  left: 531px;
  width: 417px;
  height: 37px;
}
.sa-tt-sp21,
.sa-tt-sp22,
.sa-tt-sp23,
.sa-tt-sp24 {
  top: 171px;
}
.sa-tt-sp22,
.sa-tt-sp23,
.sa-tt-sp24 {
  top: 223px;
}
.sa-tt-sp23,
.sa-tt-sp24 {
  top: 270px;
}
.sa-tt-sp24 {
  top: 171px;
  left: 58px;
}
.vector-icon130,
.vector-icon131 {
  position: absolute;
  height: 29.73%;
  width: 4.08%;
  right: 58.51%;
  left: 37.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon130 {
  top: 51.35%;
  bottom: 18.92%;
  object-fit: contain;
}
.vector-icon131 {
  top: 10.81%;
  bottom: 59.46%;
}
.div227,
.m-hng39 {
  position: absolute;
  width: 12.47%;
  top: 24.32%;
  left: 44.36%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
}
.m-hng39 {
  width: 38.59%;
  left: 1.68%;
}
.thay-i-sl-child11 {
  position: absolute;
  height: 2.7%;
  width: 98.2%;
  top: 85.14%;
  right: 0.24%;
  bottom: 12.16%;
  left: 1.56%;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.thay-i-sl-child12 {
  height: 54.05%;
  bottom: 21.62%;
  left: 43.88%;
  max-height: 100%;
  width: 0;
  object-fit: contain;
  opacity: 0;
}
.div228,
.thay-i-sl-child12,
.thay-i-sl-child13 {
  position: absolute;
  top: 24.32%;
}
.thay-i-sl-child13 {
  height: 54.05%;
  width: 12.47%;
  right: 43.17%;
  bottom: 21.62%;
  left: 44.36%;
  background-color: var(--color-white);
}
.div228 {
  width: 47.48%;
  left: 44.84%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  opacity: 0;
}
.thay-i-sl3 {
  position: absolute;
  top: 321px;
  left: 531px;
  width: 417px;
  height: 37px;
}
.div230 {
  position: absolute;
  width: 49.64%;
  top: 24.32%;
  left: 44.84%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  opacity: 0;
}
.thay-i-gi3 {
  position: absolute;
  top: 375px;
  left: 531px;
  width: 417px;
  height: 37px;
}
.div231,
.vn3 {
  position: absolute;
  width: 5.02%;
  top: 69.06%;
  left: 79.62%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
}
.div231 {
  width: 27.11%;
  top: 31.47%;
  left: 19.58%;
  opacity: 0;
}
.component-parent {
  position: absolute;
  top: 228px;
  left: 126px;
  width: 996px;
  height: 556px;
}
.to-phiu-nhp-4 {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
