.to-phiu-xut3-child,
.to-phiu-xut3-inner {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.to-phiu-xut3-child {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.to-phiu-xut3-inner {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm21 {
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.sn-phm-wrapper13,
.sn-phm21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  height: 30px;
}
.nhp-hng25 {
  top: 0;
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-steelblue-300);
  display: inline-block;
  width: 159px;
}
.group-parent69,
.nhp-hng25,
.xut-hng23 {
  position: absolute;
  height: 30px;
}
.xut-hng23 {
  top: 0;
  left: 518px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
}
.group-parent69 {
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.nhp-hng26,
.sn-phm-wrapper14,
.xut-hng24 {
  position: absolute;
  top: 0;
  width: 159px;
  height: 30px;
}
.sn-phm-wrapper14 {
  left: 0;
  cursor: pointer;
}
.nhp-hng26,
.xut-hng24 {
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.xut-hng24 {
  left: 518px;
  color: var(--color-steelblue-200);
  cursor: pointer;
}
.to-phiu-xut3-child2 {
  position: absolute;
  top: 104px;
  left: 731px;
  max-height: 100%;
  width: 144px;
}
.xut-hng25 {
  position: absolute;
  top: 0;
  left: 37px;
  font-weight: 600;
}
.vector-icon92 {
  position: absolute;
  height: 53.57%;
  width: 17.82%;
  top: 25%;
  right: 82.18%;
  bottom: 21.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.xut-hng-container {
  position: absolute;
  top: 175px;
  left: 60px;
  width: 174px;
  height: 28px;
  cursor: pointer;
  font-size: var(--font-size-5xl);
}
.group-child231 {
  position: absolute;
  top: 0;
  right: 12.2px;
  background-color: var(--color-white);
  width: 352.9px;
  height: 560px;
}
.carbonuser-avatar-filled-icon24 {
  position: absolute;
  top: 5.1px;
  left: 18.6px;
  width: 25.1px;
  height: 26.7px;
  overflow: hidden;
}
.group-child232 {
  position: absolute;
  top: 28.5px;
  left: 49.5px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 75px;
  height: 1px;
}
.qlnxtrung24 {
  position: absolute;
  top: 8px;
  left: 50px;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  width: 121px;
  height: 21px;
}
.group-child233 {
  position: absolute;
  top: 20.7px;
  left: 7.1px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 60.6px;
  height: 1px;
}
.div183 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  width: 88px;
  height: 19px;
}
.group-child234,
.line-parent12 {
  position: absolute;
  top: 7px;
  left: 235px;
  width: 88px;
  height: 20.7px;
}
.group-child234 {
  top: 20.5px;
  left: 0.9px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 31.7px;
  height: 1px;
}
.div184 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  width: 63.3px;
  height: 19.5px;
}
.ghi-ch7,
.line-parent13 {
  position: absolute;
  top: 7px;
  left: 312px;
  width: 63.3px;
  height: 20.5px;
}
.ghi-ch7 {
  top: 0;
  left: 22.9px;
  letter-spacing: -0.05em;
  line-height: 20px;
  display: inline-block;
  font-weight: 300;
  width: 146px;
  height: 21px;
}
.group-child235 {
  position: absolute;
  width: calc(100% + 1px);
  top: 22.6px;
  right: -1px;
  left: 0;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  height: 1px;
}
.group-child236 {
  position: absolute;
  height: 68.58%;
  width: 4.05%;
  top: 9.29%;
  right: 95.36%;
  bottom: 22.12%;
  left: 0.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ghi-ch-parent5 {
  position: absolute;
  top: 328px;
  left: 25.1px;
  width: 321.2px;
  height: 22.6px;
  color: var(--color-gray-600);
}
.text-input-components-child40 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 360px;
  height: 60px;
}
.text-input36 {
  position: absolute;
  top: 29px;
  left: 34px;
  display: inline-block;
  width: 318px;
}
.text-input-components-child41 {
  position: absolute;
  top: 30px;
  left: 26.5px;
  width: 0;
  height: 20px;
  object-fit: contain;
  opacity: 0;
}
.text-input-components-child42 {
  position: absolute;
  top: 23px;
  left: 32px;
  width: 270px;
  height: 32px;
}
.text-field36 {
  position: absolute;
  top: 18px;
  left: 27px;
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 314px;
}
.text-input-components15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 372.4px;
  height: 60px;
  overflow: hidden;
}
.group-child237 {
  position: absolute;
  top: 55px;
  left: 25px;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 322.2px;
  height: 1px;
}
.text-input-components-parent11,
.text-input-components-parent12 {
  position: absolute;
  top: 127px;
  left: 0;
  width: 372.4px;
  height: 60px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}
.text-input-components-parent12 {
  top: 183px;
}
.group-child239 {
  position: absolute;
  top: 55px;
  left: 27px;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 322.2px;
  height: 1px;
}
.text-input-components-parent13 {
  position: absolute;
  top: 243px;
  left: 0;
  width: 372.4px;
  height: 60px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}
.rectangle-parent69 {
  position: absolute;
  top: 228px;
  right: 25.7px;
  width: 375.3px;
  height: 560px;
}
.carbonuser-avatar-filled-icon25 {
  position: absolute;
  top: 5.1px;
  left: 8.4px;
  width: 25.1px;
  height: 26.7px;
  overflow: hidden;
}
.group-child241 {
  position: absolute;
  top: 28.5px;
  left: 39.3px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 75px;
  height: 1px;
}
.qlnxtrung25 {
  position: absolute;
  top: 8px;
  left: 39.8px;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  width: 121px;
  height: 21px;
}
.line-parent14 {
  position: absolute;
  top: 7px;
  left: 224.8px;
  width: 88px;
  height: 20.7px;
}
.ghi-ch-parent6,
.line-parent15 {
  position: absolute;
  top: 7px;
  left: 301.8px;
  width: 63.3px;
  height: 20.5px;
}
.ghi-ch-parent6 {
  top: 463px;
  left: 16.8px;
  width: 321.2px;
  height: 22.6px;
  color: var(--color-gray-600);
}
.rectangle-parent70 {
  position: absolute;
  top: 228px;
  right: 25.7px;
  width: 365.1px;
  height: 560px;
}
.group-child246 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 830px;
  height: 58.1px;
}
.group-child247 {
  position: absolute;
  top: 58px;
  right: 0;
  background-color: var(--color-white);
  width: 829px;
  height: 502px;
}
.m-hng28,
.n-gi19,
.s-lng16,
.thnh-tin7,
.tn-hng7 {
  position: absolute;
  top: 22.4px;
  left: 565.8px;
  display: inline-block;
  width: 69.6px;
  height: 19.4px;
}
.m-hng28,
.n-gi19,
.thnh-tin7,
.tn-hng7 {
  left: 704.9px;
  width: 84.7px;
}
.m-hng28,
.n-gi19,
.tn-hng7 {
  left: 34.3px;
  width: 66.6px;
}
.n-gi19,
.tn-hng7 {
  top: 22px;
  left: 194px;
  width: 70.6px;
}
.n-gi19 {
  top: 22.4px;
  left: 430.6px;
  width: 59.5px;
}
.rectangle-parent71 {
  position: absolute;
  top: 228px;
  left: 60px;
  width: 830px;
  height: 560px;
}
.luuuuuuuu-child10 {
  position: absolute;
  height: 100%;
  width: 95.64%;
  top: 0;
  right: 4.36%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-200);
}
.vector-icon93 {
  position: absolute;
  height: 64.35%;
  width: 12.31%;
  top: 17.83%;
  right: 79.83%;
  bottom: 17.83%;
  left: 7.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.chnh-sa47 {
  position: absolute;
  height: 67.83%;
  width: 75.47%;
  top: 14.35%;
  left: 24.53%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}
.luuuuuuuu12 {
  position: absolute;
  top: 720px;
  left: 1093px;
  width: 117px;
  height: 46px;
  color: var(--color-white);
}
.carbonuser-avatar-filled-icon26 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung26 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon16 {
  position: absolute;
  top: 48px;
  left: 976px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.sp000267,
.sp000269,
.st-cun-phi48,
.thp-cy-vit14 {
  position: absolute;
  top: 305px;
  right: 1122.7px;
  display: inline-block;
  width: 62.3px;
  height: 13.1px;
}
.sp000269,
.st-cun-phi48,
.thp-cy-vit14 {
  top: 360px;
}
.st-cun-phi48,
.thp-cy-vit14 {
  top: 308px;
  right: 881px;
  width: 145px;
  height: 10.8px;
}
.thp-cy-vit14 {
  top: 359px;
  right: 800px;
  width: 226px;
  height: 11px;
}
.to-phiu-xut3-child3,
.to-phiu-xut3-child5 {
  position: absolute;
  top: 339.5px;
  left: 60.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 829px;
  height: 1px;
}
.to-phiu-xut3-child5 {
  top: 394.5px;
}
.div187 {
  position: absolute;
  height: 57.89%;
  width: 91.8%;
  top: 0;
  left: 3.28%;
  display: inline-block;
}
.group-child250 {
  position: absolute;
  height: 5.26%;
  width: 101.64%;
  top: 97.37%;
  right: -0.82%;
  bottom: -2.63%;
  left: -0.82%;
  border-top: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.parent5 {
  position: absolute;
  height: 86.36%;
  width: 75.31%;
  top: 0;
  right: 0;
  bottom: 13.64%;
  left: 24.69%;
}
.vector-icon94,
.vector-icon95 {
  position: absolute;
  height: 36.36%;
  width: 16.05%;
  top: 13.64%;
  right: 83.95%;
  bottom: 50%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon95 {
  top: 63.64%;
  bottom: 0;
  object-fit: contain;
}
.tng-s-lng7,
.tng-s-lng9 {
  position: absolute;
  top: 302px;
  left: 613px;
  width: 81px;
  height: 22px;
  text-align: center;
}
.tng-s-lng9 {
  top: 356px;
}
.div191 {
  position: absolute;
  height: 61.11%;
  width: 91.04%;
  top: 0;
  left: 8.96%;
  display: inline-block;
}
.div195,
.thnh-tin16,
.tng-gi15 {
  position: absolute;
  top: 304px;
  left: 491px;
  width: 67px;
  height: 18px;
}
.div195,
.thnh-tin16 {
  top: 303px;
  left: 774px;
}
.div195 {
  height: 61.11%;
  width: 91.04%;
  top: 0;
  left: 0;
  display: inline-block;
}
.tng-gi2-inner {
  position: absolute;
  height: 5.56%;
  width: 92.54%;
  top: 97.22%;
  right: 8.21%;
  bottom: -2.78%;
  left: -0.75%;
  border-top: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.thm-sn-phm7,
.thnh-tin23,
.tng-gi22 {
  position: absolute;
  top: 359px;
  left: 493px;
  width: 67px;
  height: 18px;
}
.thm-sn-phm7,
.thnh-tin23 {
  top: 357px;
  left: 774px;
}
.thm-sn-phm7 {
  top: 3px;
  left: 55px;
  letter-spacing: -0.05em;
  display: inline-block;
  font-weight: 300;
  width: 226.9px;
  height: 38.7px;
}
.icoutline-plus-icon22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 44px;
  overflow: hidden;
}
.thm-sn-phm-parent5 {
  position: absolute;
  top: 519px;
  left: 304px;
  width: 281.9px;
  height: 44px;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-800);
}
.tm-kim-khng-thy-sn-phm-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.tm-kim-sn13,
.vector-icon102 {
  position: absolute;
  height: 48.84%;
}
.vector-icon102 {
  width: 4.32%;
  top: 27.91%;
  right: 2.7%;
  bottom: 23.26%;
  left: 92.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.tm-kim-sn13 {
  width: 37.15%;
  top: 25.58%;
  left: 10.63%;
  font-weight: 500;
  display: inline-block;
}
.vector-icon103 {
  position: absolute;
  height: 42.79%;
  width: 3.91%;
  top: 28.6%;
  right: 91.68%;
  bottom: 28.6%;
  left: 4.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tm-kim-khng-thy-sn-phm2 {
  position: absolute;
  top: 167px;
  left: 277px;
  width: 555px;
  height: 43px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.group-child254 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 352px;
  height: 60px;
}
.a-ch1,
.m-an-ng1 {
  position: absolute;
  top: 29px;
  left: 29.3px;
  display: inline-block;
  width: 314.8px;
}
.a-ch1 {
  top: 10px;
  left: 26.4px;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray-300);
  width: 177px;
}
.group-child255,
.vector-parent18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 352px;
  height: 60px;
}
.group-child255 {
  top: 62px;
  left: 18.6px;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 315.1px;
  height: 1px;
}
.group-parent72,
.group-parent73,
.group-parent74 {
  position: absolute;
  top: 122px;
  left: 0;
  width: 352px;
  height: 62px;
}
.group-parent73,
.group-parent74 {
  top: 66px;
  left: 1px;
  color: var(--color-darkslategray-100);
}
.group-parent74 {
  top: 0;
  left: 0;
}
.group-child265,
.group-parent75,
.group-parent76 {
  position: absolute;
  top: 355px;
  left: 0;
  width: 352px;
  height: 62px;
}
.group-child265,
.group-parent76 {
  top: 298px;
  left: 2px;
}
.group-child265 {
  top: 63px;
  left: 21px;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 315.1px;
  height: 1px;
}
.group-parent77 {
  position: absolute;
  top: 240px;
  left: 0;
  width: 352px;
  height: 63px;
}
.group-parent71,
.group-parent78 {
  position: absolute;
  top: 184px;
  left: 2px;
  width: 352px;
  height: 62px;
}
.group-parent71 {
  top: 265px;
  left: 889px;
  width: 354px;
  height: 417px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}
.to-phiu-xut3 {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
