.to-sp-xc-nhn-child,
.to-sp-xc-nhn-item {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.to-sp-xc-nhn-child {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.to-sp-xc-nhn-item {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm-wrapper41,
.sn-phm52 {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  height: 30px;
}
.sn-phm52 {
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.sn-phm-wrapper41 {
  color: var(--color-steelblue-200);
}
.nhp-hng126 {
  top: 0;
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
}
.group-parent152,
.nhp-hng126,
.xut-hng66 {
  position: absolute;
  height: 30px;
}
.xut-hng66 {
  top: 0;
  left: 518px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
}
.group-parent152 {
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.group-child656 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 137px;
  height: 43px;
}
.thm-mi28 {
  position: absolute;
  top: 12.4px;
  left: 48px;
  display: inline-block;
  width: 79px;
  height: 21.5px;
}
.icoutline-plus-icon54 {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 24px;
  height: 27.2px;
  overflow: hidden;
}
.rectangle-parent209 {
  position: absolute;
  top: 164px;
  left: 1102px;
  width: 137px;
  height: 43px;
}
.to-sp-xc-nhn-inner {
  position: absolute;
  top: 105px;
  left: 213px;
  max-height: 100%;
  width: 139px;
}
.group-child657 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-gainsboro);
  width: 966px;
  height: 493px;
}
.c25,
.m-nhp-hng21 {
  position: absolute;
  top: 81.8px;
  left: 512.6px;
  display: inline-block;
  width: 170.2px;
  height: 23.2px;
}
.m-nhp-hng21 {
  top: 13.4px;
  left: 83px;
  width: 114.1px;
}
.nh-cung-cp40,
.tn-sn-phm21,
.trng-thi34 {
  position: absolute;
  top: 21px;
  left: 275px;
  display: inline-block;
  width: 115px;
  height: 39px;
}
.nh-cung-cp40,
.trng-thi34 {
  top: 18.3px;
  left: 512.6px;
  width: 111px;
  height: 23.2px;
}
.trng-thi34 {
  left: 787.5px;
  width: 80.9px;
}
.group-child659 {
  position: absolute;
  top: 58.1px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 966px;
  height: 1px;
}
.check-child151 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.check154,
.check155,
.check156 {
  position: absolute;
  top: 150.1px;
  left: 14.5px;
  width: 19.7px;
  height: 22px;
}
.check155,
.check156 {
  top: 80.5px;
  left: 13.5px;
}
.check156 {
  top: 13.4px;
  left: 14.5px;
}
.group-child660 {
  position: absolute;
  top: 123.3px;
  left: 0;
  max-height: 100%;
  width: 966px;
}
.nhp-hng127,
.sp000123,
.sp0002135 {
  position: absolute;
  top: 83px;
  left: 83px;
  display: inline-block;
  width: 59.1px;
  height: 23.2px;
}
.nhp-hng127,
.sp0002135 {
  top: 148.9px;
  width: 62.3px;
}
.nhp-hng127 {
  top: 146.4px;
  left: 787.5px;
  width: 112.1px;
}
.thp-cy-vit42 {
  margin: 0;
}
.thp-cy-vit-container6 {
  position: absolute;
  top: 72px;
  left: 275px;
  font-weight: 300;
}
.rectangle-parent210 {
  position: absolute;
  top: 277px;
  right: 37px;
  width: 966px;
  height: 493px;
}
.m-sn-phm15,
.s-lng34,
.tn-sn-phm22 {
  position: absolute;
  top: 2px;
  left: 481px;
  display: inline-block;
  width: 90px;
  height: 19px;
}
.m-sn-phm15,
.tn-sn-phm22 {
  top: 0;
  left: 0;
  width: 114.1px;
  height: 23.2px;
}
.tn-sn-phm22 {
  top: 2px;
  left: 207px;
  width: 115px;
  height: 39px;
}
.n-gi58,
.s-lng-parent13 {
  position: absolute;
  height: 42px;
}
.n-gi58 {
  top: 0;
  left: 685px;
  display: inline-block;
  width: 115.7px;
}
.s-lng-parent13 {
  top: 21px;
  left: 99px;
  width: 800.7px;
}
.check157,
.sp000124 {
  position: absolute;
  top: 30px;
  left: 0;
  width: 19.7px;
  height: 22px;
}
.sp000124 {
  top: 31px;
  left: 64px;
  display: inline-block;
  width: 59.1px;
  height: 23.2px;
}
.div503,
.div504,
.thp-cy-vit43 {
  position: absolute;
  top: 0;
  left: 271px;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
  width: 180px;
  height: 45px;
}
.div503,
.div504 {
  top: 34px;
  left: 748px;
  width: 90px;
  height: 19px;
}
.div504 {
  top: 27px;
  left: 570px;
  width: 29px;
}
.check-parent55,
.check158 {
  position: absolute;
  top: 54px;
  left: 35px;
  width: 838px;
  height: 54.2px;
}
.check158 {
  top: 1px;
  left: 0;
  width: 19.7px;
  height: 22px;
}
.div505,
.div506,
.sp0002136,
.st-cun-phi98 {
  position: absolute;
  top: 1px;
  left: 64px;
  display: inline-block;
  width: 62.3px;
  height: 23.2px;
}
.div505,
.div506,
.st-cun-phi98 {
  left: 271px;
  font-weight: 300;
  width: 145px;
  height: 19px;
}
.div505,
.div506 {
  top: 6px;
  left: 751px;
  width: 58px;
}
.div506 {
  top: 0;
  left: 568px;
  width: 28px;
  height: 35px;
}
.check-parent56,
.sn-phm53 {
  position: absolute;
  top: 137px;
  left: 35px;
  width: 809px;
  height: 35px;
}
.sn-phm53 {
  top: 144px;
  left: 16px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  width: 199px;
  height: 55px;
}
.group-child669 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 178px;
  height: 148px;
}
.loi-hng15 {
  position: absolute;
  top: 8.2px;
  left: 12.8px;
  font-weight: 500;
  display: inline-block;
  width: 110.5px;
  height: 20.9px;
}
.group-wrapper35,
.rectangle-parent213 {
  position: absolute;
  top: 0;
  left: 0;
  width: 178px;
  height: 148px;
}
.group-wrapper35 {
  font-size: var(--font-size-xl);
}
.vl-c-bn15 {
  position: absolute;
  top: 0;
  left: 30px;
  display: inline-block;
  width: 88px;
  height: 21px;
}
.check-wrapper22,
.group-wrapper36 {
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 18px;
}
.group-wrapper36 {
  top: 3px;
}
.vl-c-bn-parent4,
.vl-kt-cu9 {
  position: absolute;
  top: 42px;
  left: 13px;
  width: 118px;
  height: 21px;
}
.vl-kt-cu9 {
  top: 0;
  left: 30px;
  display: inline-block;
  width: 94px;
}
.vl-hon-thin9,
.vl-kt-cu-parent6 {
  position: absolute;
  top: 78px;
  left: 13px;
  width: 124px;
  height: 21px;
}
.vl-hon-thin9 {
  top: 0;
  left: 30px;
  display: inline-block;
  width: 123px;
}
.group-parent153,
.vl-hon-thin-parent5 {
  position: absolute;
  top: 114px;
  left: 13px;
  width: 153px;
  height: 21px;
}
.group-parent153 {
  top: 348px;
  left: 42px;
  width: 178px;
  height: 148px;
  font-size: var(--font-size-lg);
}
.group-child670 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 178px;
  height: 116px;
}
.thp9 {
  position: absolute;
  top: 39px;
  left: 13px;
}
.cao10,
.div511,
.div512,
.mc-gi9 {
  position: absolute;
  top: 39px;
  left: 84px;
}
.cao10,
.div512,
.mc-gi9 {
  top: 79px;
}
.cao10,
.mc-gi9 {
  top: 39px;
  left: 123px;
}
.mc-gi9 {
  top: 8.2px;
  left: 12.8px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 110.5px;
  height: 20.9px;
}
.group-child671,
.group-child672 {
  position: absolute;
  top: 75px;
  left: 15px;
  background-color: var(--color-white);
  width: 62px;
  height: 25px;
}
.group-child672 {
  top: 74px;
  left: 100px;
}
.rectangle-parent214 {
  position: absolute;
  top: 599px;
  left: 42px;
  width: 178px;
  height: 116px;
  font-size: var(--font-size-lg);
}
.group-child673 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 996px;
  height: 556px;
}
.to-sn-phm3 {
  position: absolute;
  top: 23px;
  left: 372px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-steelblue-200);
  text-align: center;
  display: inline-block;
  width: 283px;
  height: 55px;
}
.luuuuuuuu-child27 {
  position: absolute;
  height: 100%;
  width: 95.64%;
  top: 0;
  right: 4.36%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-200);
}
.vector-icon410 {
  position: absolute;
  height: 64.35%;
  width: 12.31%;
  top: 17.83%;
  right: 79.83%;
  bottom: 17.83%;
  left: 7.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.chnh-sa154 {
  position: absolute;
  height: 67.83%;
  width: 75.47%;
  top: 14.35%;
  left: 24.53%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}
.luuuuuuuu29,
.luuuuuuuu30 {
  position: absolute;
  top: 446px;
  left: 623px;
  width: 117px;
  height: 46px;
  color: var(--color-white);
}
.luuuuuuuu30 {
  left: 793px;
}
.sa-hnh-nh-child4,
.vector-icon412 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sa-hnh-nh-child4 {
  height: 100%;
  width: 84%;
  top: 0;
  right: 16%;
  left: 0;
  object-fit: cover;
}
.vector-icon412 {
  height: 17.42%;
  width: 9.08%;
  top: 82.58%;
  right: 0;
  left: 90.92%;
}
.sa-hnh-nh7 {
  position: absolute;
  top: 226px;
  left: 62px;
  width: 403px;
  height: 190px;
}
.sa-tt-sp-child169 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.sp000347 {
  position: absolute;
  width: 64.75%;
  top: 13.51%;
  left: 33.81%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
}
.sa-tt-sp-child170,
.sa-tt-sp-child171 {
  position: absolute;
  height: 54.05%;
  top: 13.51%;
  bottom: 32.43%;
  left: 33.81%;
}
.sa-tt-sp-child170 {
  max-height: 100%;
  width: 0;
  object-fit: contain;
  opacity: 0;
}
.sa-tt-sp-child171 {
  width: 64.75%;
  right: 1.44%;
  background-color: var(--color-white);
}
.m-hng90 {
  position: absolute;
  width: 38.59%;
  top: 13.51%;
  left: 1.2%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
}
.sa-tt-sp-child172 {
  position: absolute;
  height: 2.7%;
  width: 98.2%;
  top: 85.14%;
  right: 0.72%;
  bottom: 12.16%;
  left: 1.08%;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.sa-tt-sp44 {
  position: absolute;
  top: 123px;
  left: 58px;
  width: 417px;
  height: 37px;
}
.sa-tt-sp-child175,
.sp0002139 {
  position: absolute;
  width: 64.75%;
  top: 13.51%;
  left: 33.81%;
  display: none;
}
.sa-tt-sp-child175 {
  height: 54.05%;
  right: 1.44%;
  bottom: 32.43%;
  background-color: var(--color-white);
}
.sp0002139 {
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
}
.sa-tt-sp45,
.sa-tt-sp46,
.sa-tt-sp47,
.sa-tt-sp48,
.sa-tt-sp49 {
  position: absolute;
  top: 123px;
  left: 531px;
  width: 417px;
  height: 37px;
}
.sa-tt-sp46,
.sa-tt-sp47,
.sa-tt-sp48,
.sa-tt-sp49 {
  top: 171px;
}
.sa-tt-sp47,
.sa-tt-sp48,
.sa-tt-sp49 {
  top: 223px;
}
.sa-tt-sp48,
.sa-tt-sp49 {
  top: 270px;
}
.sa-tt-sp49 {
  top: 171px;
  left: 58px;
}
.vector-icon413,
.vector-icon414 {
  position: absolute;
  height: 29.73%;
  width: 4.08%;
  right: 58.51%;
  left: 37.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon413 {
  top: 51.35%;
  bottom: 18.92%;
  object-fit: contain;
}
.vector-icon414 {
  top: 10.81%;
  bottom: 59.46%;
}
.div513,
.m-hng96 {
  position: absolute;
  width: 12.47%;
  top: 24.32%;
  left: 44.36%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
}
.m-hng96 {
  width: 38.59%;
  left: 1.68%;
}
.thay-i-sl-child27 {
  position: absolute;
  height: 2.7%;
  width: 98.2%;
  top: 85.14%;
  right: 0.24%;
  bottom: 12.16%;
  left: 1.56%;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.thay-i-sl-child28 {
  height: 54.05%;
  bottom: 21.62%;
  left: 43.88%;
  max-height: 100%;
  width: 0;
  object-fit: contain;
  opacity: 0;
}
.div514,
.thay-i-sl-child28,
.thay-i-sl-child29 {
  position: absolute;
  top: 24.32%;
}
.thay-i-sl-child29 {
  height: 54.05%;
  width: 12.47%;
  right: 43.17%;
  bottom: 21.62%;
  left: 44.36%;
  background-color: var(--color-white);
}
.div514 {
  width: 47.48%;
  left: 44.84%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  opacity: 0;
}
.thay-i-sl8 {
  position: absolute;
  top: 321px;
  left: 531px;
  width: 417px;
  height: 37px;
}
.div516 {
  position: absolute;
  width: 49.64%;
  top: 24.32%;
  left: 44.84%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  opacity: 0;
}
.thay-i-gi8 {
  position: absolute;
  top: 375px;
  left: 531px;
  width: 417px;
  height: 37px;
}
.vn25 {
  position: absolute;
  width: 5.02%;
  top: 69.06%;
  left: 79.62%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
}
.rectangle-parent215 {
  position: absolute;
  top: 231px;
  left: 158px;
  width: 996px;
  height: 556px;
}
.carbonuser-avatar-filled-icon65 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung63 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon45 {
  position: absolute;
  top: 48px;
  left: 976px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.tm-kim-sn-phm-child8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.tm-kim-sn33 {
  position: absolute;
  height: 48.84%;
  width: 37.15%;
  top: 25.58%;
  left: 8.7%;
  font-weight: 500;
  display: inline-block;
}
.octiconsearch-1643,
.vector-icon417 {
  position: absolute;
  height: 48.84%;
  width: 4.45%;
  top: 25.58%;
  right: 92.58%;
  bottom: 25.58%;
  left: 2.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon417 {
  width: 4.32%;
  right: 2.88%;
  left: 92.79%;
  object-fit: contain;
}
.tm-kim-sn-phm11 {
  position: absolute;
  top: 169px;
  left: 278px;
  width: 555px;
  height: 43px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.xc-nhn-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-200);
}
.chnh-sa-thnh4 {
  position: absolute;
  width: 89.63%;
  top: 44.97%;
  left: 5.02%;
  letter-spacing: -0.05em;
  line-height: 20px;
  font-weight: 600;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}
.phx-bold-icon6 {
  position: absolute;
  height: 35.98%;
  width: 11.37%;
  top: 8.99%;
  right: 0;
  bottom: 55.03%;
  left: 88.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.xc-nhn5 {
  position: absolute;
  top: 358px;
  left: 389px;
  width: 598px;
  height: 189px;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
}
.to-sp-xc-nhn {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
