.group-child489 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-gainsboro);
  width: 1179px;
  height: 413px;
}
.cng-ty-tnhh34 {
  position: absolute;
  top: 71.5px;
  left: 638.3px;
  display: inline-block;
  width: 202.9px;
  height: 19.4px;
}
.div328,
.m-xut-hng8,
.nh-cung-cp26,
.thi-gian8,
.trng-thi20 {
  position: absolute;
  top: 72.5px;
  left: 364.8px;
  display: inline-block;
  width: 143.5px;
  height: 19.4px;
}
.m-xut-hng8,
.nh-cung-cp26,
.thi-gian8,
.trng-thi20 {
  top: 14.2px;
  left: 126px;
  width: 136.1px;
}
.nh-cung-cp26,
.thi-gian8,
.trng-thi20 {
  left: 364.8px;
  width: 87.9px;
}
.nh-cung-cp26,
.trng-thi20 {
  top: 18.3px;
  left: 638.3px;
  width: 132.4px;
}
.trng-thi20 {
  left: 966.2px;
  width: 96.5px;
}
.group-child490,
.group-child491 {
  position: absolute;
  top: 109.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1179px;
  height: 1px;
}
.group-child491 {
  top: 51.5px;
}
.check-child104 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.check107 {
  position: absolute;
  top: 70px;
  left: 44px;
  width: 23.5px;
  height: 18.4px;
}
.nhp-hng65,
.xh00014 {
  position: absolute;
  top: 72.5px;
  left: 126px;
  display: inline-block;
  width: 70.5px;
  height: 19.4px;
}
.nhp-hng65 {
  top: 76.6px;
  left: 966.2px;
  width: 133.6px;
}
.check108 {
  position: absolute;
  top: 128.7px;
  left: 44.3px;
  width: 23.5px;
  height: 18.4px;
}
.cng-ty-tnhh35,
.div329,
.nhp-hng66,
.xh00026 {
  position: absolute;
  top: 125.7px;
  left: 638.3px;
  display: inline-block;
  width: 186.8px;
  height: 19.4px;
}
.div329,
.nhp-hng66,
.xh00026 {
  left: 364.8px;
  width: 143.5px;
}
.nhp-hng66,
.xh00026 {
  top: 127.7px;
  left: 126px;
  width: 74.2px;
}
.nhp-hng66 {
  top: 125.7px;
  left: 966.2px;
  width: 133.6px;
}
.group-child492 {
  position: absolute;
  top: 195px;
  left: 365px;
  background-color: var(--color-gainsboro);
  width: 109px;
  height: 12px;
}
.rectangle-parent129 {
  position: absolute;
  top: 285px;
  right: 42px;
  width: 1179px;
  height: 413px;
}
.xut-hng-child1,
.xut-hng-child2 {
  position: absolute;
  top: 5.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.xut-hng-child1 {
  height: 8.77%;
  width: 6.48%;
  right: 88.83%;
  bottom: 85.46%;
  left: 4.69%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.xut-hng-child2 {
  height: 9.66%;
  width: 58.83%;
  right: 27.19%;
  bottom: 84.57%;
  left: 13.98%;
  border-radius: 26.78px;
}
.sn-phm-wrapper27,
.sn-phm35 {
  position: absolute;
  top: 0;
  left: 0;
  width: 159px;
  height: 30px;
}
.sn-phm35 {
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.sn-phm-wrapper27 {
  cursor: pointer;
}
.nhp-hng67 {
  top: 0;
  left: 259px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 159px;
}
.group-parent114,
.nhp-hng67,
.xut-hng45 {
  position: absolute;
  height: 30px;
}
.xut-hng45 {
  top: 0;
  left: 518px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-steelblue-200);
  display: inline-block;
  width: 159px;
  cursor: pointer;
}
.group-parent114 {
  top: calc(50% - 342px);
  left: 213px;
  width: 677px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
}
.xut-hng-child3 {
  position: absolute;
  top: 104px;
  left: 729px;
  max-height: 100%;
  width: 148px;
}
.xut-hng46 {
  position: absolute;
  top: 148px;
  left: 18px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  width: 217px;
  height: 55px;
}
.group-child493 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 137px;
  height: 43px;
}
.thm-mi15 {
  position: absolute;
  top: 12.4px;
  left: 48px;
  display: inline-block;
  width: 79px;
  height: 21.5px;
}
.icoutline-plus-icon39 {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 24px;
  height: 27.2px;
  overflow: hidden;
}
.rectangle-parent130 {
  position: absolute;
  top: 164px;
  left: 1102px;
  width: 137px;
  height: 43px;
  cursor: pointer;
}
.tm-kim-nhp-hng-child3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
}
.theo-m-nhp8 {
  position: absolute;
  height: 48.84%;
  width: 37.15%;
  top: 25.58%;
  left: 8.7%;
  font-weight: 500;
  display: inline-block;
}
.octiconsearch-1630,
.vector-icon235 {
  position: absolute;
  height: 48.84%;
  top: 25.58%;
  bottom: 25.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.octiconsearch-1630 {
  width: 4.45%;
  right: 92.58%;
  left: 2.97%;
  cursor: pointer;
}
.vector-icon235 {
  width: 4.32%;
  right: 2.88%;
  left: 92.79%;
  object-fit: contain;
}
.tm-kim-nhp-hng6 {
  position: absolute;
  top: 169px;
  left: 278px;
  width: 555px;
  height: 43px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.carbonuser-avatar-filled-icon46 {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 1.45%;
  right: 0;
  bottom: -1.45%;
  left: 73.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qlnxtrung46 {
  position: absolute;
  top: 36.23%;
  left: 2.29%;
  line-height: 20px;
  font-weight: 500;
}
.menu-ti-khon30 {
  position: absolute;
  top: 48px;
  left: 976px;
  width: 262px;
  height: 69px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.div330 {
  position: absolute;
  top: 6px;
  right: 1px;
  font-weight: 600;
  display: inline-block;
  width: 40px;
  height: 27px;
}
.rectangle-parent131 {
  position: absolute;
  height: 100%;
  width: 25.93%;
  top: 0;
  right: 74.07%;
  bottom: 0;
  left: 0;
}
.group-child495 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-steelblue-300);
}
.group-child495,
.group-child496,
.rectangle-parent132 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.rectangle-parent132 {
  width: 25.93%;
  right: 37.04%;
  left: 37.04%;
  color: var(--color-white);
}
.group-child496 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  cursor: pointer;
}
.group-parent115,
.rectangle-parent133 {
  position: absolute;
  height: 100%;
  width: 25.93%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 74.07%;
}
.group-parent115 {
  height: 4.69%;
  width: 12.66%;
  top: 94.11%;
  right: 40.08%;
  bottom: 1.2%;
  left: 47.27%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray-200);
}
.xut-hng-child4 {
  position: absolute;
  height: 2.21%;
  width: 1.84%;
  top: 121.77%;
  right: 93.87%;
  bottom: -23.98%;
  left: 4.3%;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
}
.cng-ty-tnhh36,
.div333,
.nh00027,
.nhp-hng68 {
  position: absolute;
  top: 1010px;
  left: 648.9px;
  display: inline-block;
  width: 186.8px;
  height: 19.4px;
}
.div333,
.nh00027,
.nhp-hng68 {
  left: 375.5px;
  width: 143.5px;
}
.nh00027,
.nhp-hng68 {
  top: 1012px;
  left: 136.7px;
  width: 74.2px;
}
.nhp-hng68 {
  top: 1010px;
  left: 976.8px;
  width: 133.6px;
}
.check109 {
  position: absolute;
  height: 85.58%;
  width: 2.23%;
  top: 4.65%;
  right: 97.77%;
  bottom: 9.77%;
  left: 0;
}
.cng-ty-tnhh37,
.div334,
.nhp-hng69,
.xh00036 {
  position: absolute;
  height: 90.23%;
  width: 17.7%;
  top: 0;
  left: 56.27%;
  display: inline-block;
}
.div334,
.nhp-hng69,
.xh00036 {
  width: 13.6%;
  left: 30.36%;
}
.nhp-hng69,
.xh00036 {
  width: 7.03%;
  top: 9.3%;
  left: 7.74%;
}
.nhp-hng69 {
  width: 12.66%;
  top: 0;
  left: 87.33%;
}
.check-parent42 {
  position: absolute;
  height: 54.43%;
  width: 100%;
  top: 45.57%;
  right: 0;
  bottom: 0;
  left: 0;
}
.hin-in4-xut-child1 {
  position: absolute;
  height: 2.53%;
  width: 112.08%;
  top: -1.27%;
  right: -7.77%;
  bottom: 98.73%;
  left: -4.31%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.hin-in4-xut3 {
  position: absolute;
  top: 447px;
  left: 103px;
  width: 1055.5px;
  height: 39.5px;
}
.xut-hng44 {
  width: 100%;
  position: relative;
  height: 832px;
  overflow: hidden;
  background-image: url(./public/2ng-nhp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
